{% set class = class_ %}
{% set assignments = assignments_pagination.items %}
<div class="text-right mb-2">
    {% set has_prev = assignments_pagination.has_prev %}
    {% set has_next = assignments_pagination.has_next %}
    <a href="{{ url_for('.display_class', id=class.id, assignments_page=assignments_pagination.prev_num) if has_prev else '#' }}" class="btn btn-link pagination-link{% if not has_prev %} disabled{% endif %}" id="prev-btn">Previous</a>
    <a href="{{ url_for('.display_class', id=class.id, assignments_page=assignments_pagination.next_num) if has_next else '#' }}" class="btn btn-link pagination-link{% if not has_next %} disabled{% endif %}" id="next-btn">Next</a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="table-light">   
                <th class="text-muted border-right" id="assignments-table-header">Students</th>
                {% for assignment in assignments %}
                <th class="font-weight-normal text-center position-relative align-top">
                    {%- if not assignment.is_quiz() %}
                        {% if assignment.page.page_type.description == "Article" %}
                            {% set icon_class = 'fa-file' %}
                        {% elif assignment.page.page_type.description == "Quiz" %}
                            {% set icon_class = 'fa-tasks' %}
                        {% elif assignment.page.page_type.description == "Video" %}
                            {% set icon_class = 'fa-play' %}
                        {% elif assignment.page.page_type.description == "Glossary" %}
                            {% set icon_class = 'fa-list-alt' %}
                        {% endif %}
                    {% else %}
                        {% set icon_class = 'fa-pencil-alt' %}
                    {% endif %}
                    <div>
                        <i class="fas {{ icon_class }} fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                    <div class="position-absolute" style="bottom: 0.75rem; right: 25%; left: 25%;">
                        <div style="font-size: 70%;">
                                {% if assignment.page %}
                                <a class="page-hyperlink" href="#" data-page-id="{{ assignment.page.id }}">{{ assignment.page.title }}</a>
                                {% elif assignment.quiz.type.code != 'P' %}
                                {% set quiz = assignment.quiz %}
                                <a href="{{ url_for('main.chapter', id=quiz.lesson.chapter.id, item='quiz_' + quiz.id|string ) }}" target="_blank">{{ quiz.title() }}</a>
                                {% else %}
                                <a class="quiz-hyperlink" href="#" data-quiz-id="{{ assignment.quiz.id }}">{{ assignment.quiz.title() }}</a>
                                {% endif %}
                        </div>
                        <div class="text-muted" style="font-size: 70%;">
                            {{ moment(assignment.due_date).format('MMM Do') }}
                        </div>
                    </div>
                </th>
                {% endfor %}
                <th class="position-relative"></th>
            </tr>
        </thead>
        <tr class="table-success">
            <td class="border-right">All Students</td>
            {% set ns = namespace(best_score=0, count=0) %}
            {% for assignment in assignments %}
                <td class="text-center">
                {% set ns.best_score = 0 %}
                {% set ns.count = 0 %}
                {% if assignment.is_quiz() %}
                    {% for student in class.students %}
                        {% set best_score = StudentAssignment.query.filter_by(student_id=student.id, assignment_id=assignment.id).order_by(StudentAssignment.score.desc()).first() %}
                        {% if best_score and best_score.score is number %}
                            {% set best_score = best_score.score|int %}
                            {% set ns.count = ns.count + 1 %}
                        {% else %}
                            {% set best_score = none %}
                        {% endif %}
                        {% set ns.best_score = ns.best_score + best_score if best_score else ns.best_score %}
                        {% if loop.last %}
                            {% set ns.best_score = (ns.best_score / ns.count) | round | int if ns.count != 0 else none %}
                        {% endif %}
                    {% endfor %}
                    {% if ns.best_score is number %}
                    <a href="{{ url_for('.assignment_progress', assignment_id=assignment.id) }}" tabindex="0" class="badge badge-{% if ns.best_score == 100 %}success{% elif ns.best_score > 69 %}warning{% else %}danger{% endif %} p-2 assignment-progress" data-toggle="popover" data-content="View progress" data-animation="false" data-placement="top" data-trigger="hover" data-container="body">{{ ns.best_score }}</a>
                    {% endif %}
                {% endif %}
                {% if not assignment.is_quiz() or ns.best_score is not number %}
                    <span class="badge badge-light border border-danger p-2">&mdash;</span>
                {% endif %}
                </td>
            {% endfor %}
            <td></td>
        </tr>
        {% for student in class.students %}
        {% set active = ClassStudent.query.filter_by(class_id=class.id, student_id=student.id).first().student_status %}
        <tr{% if not active %} class="table-secondary"{% endif %}>
            <td class="border-right">
                {% if active %}
                {{ student.username }}
                {% else %}
                <del class="text-muted">{{ student.username }}</del>
                {% endif %}
            </td>
            {% for assignment in assignments %}
            <td class="text-center">
                {% set best_score = StudentAssignment.query.filter_by(student_id=student.id, assignment_id=assignment.id).order_by(StudentAssignment.score.desc()).first() %}
                {% set best_score = best_score.score|int if best_score and best_score.score is number else None %}
                {% if assignment.is_quiz() and best_score is number %}
                <a href="{{ url_for('.assignment_progress', assignment_id=assignment.id, student_username=student.username) }}" tabindex="0" class="badge badge-{% if best_score == 100 %}success{% elif best_score > 69 %}warning{% else %}danger{% endif %} p-2 assignment-progress" data-toggle="popover" data-content="View progress" data-animation="false" data-placement="top" data-trigger="hover" data-container="body">{{ best_score }}</a>
                {% elif student in assignment.students %}
                <span class="badge badge-light border border-danger p-2">&mdash;</span>
                {% else %}
                <span class="text-muted">&mdash;</span>
                {% endif %}
            </td>
            {% endfor %}
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>