{% set class = _class %}
{% set assignments = assignments_pagination.items %}
<div class="text-right mb-2">
    {% set has_prev = assignments_pagination.has_prev %}
    {% set has_next = assignments_pagination.has_next %}
    <a href="{{ url_for('.display_class', id=class.id, assignments_page=assignments_pagination.prev_num) if has_prev else '#' }}" class="btn btn-link pagination-link{% if not has_prev %} disabled{% endif %}" id="prev-btn">Previous</a>
    <a href="{{ url_for('.display_class', id=class.id, assignments_page=assignments_pagination.next_num) if has_next else '#' }}" class="btn btn-link pagination-link{% if not has_next %} disabled{% endif %}" id="next-btn">Next</a>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="table-light">   
                <th class="text-muted border-right" id="assignments-table-header">Students</th>
                {% for assignment in assignments %}
                <th class="font-weight-normal text-center position-relative align-top">
                    {%- if not assignment.is_quiz() %}
                        {% if assignment.page.page_type.description == "Article" %}
                            {% set icon_class = 'fa-file' %}
                        {% elif assignment.page.page_type.description == "Quiz" %}
                            {% set icon_class = 'fa-tasks' %}
                        {% elif assignment.page.page_type.description == "Video" %}
                            {% set icon_class = 'fa-play' %}
                        {% elif assignment.page.page_type.description == "Glossary" %}
                            {% set icon_class = 'fa-list-alt' %}
                        {% endif %}
                    {% else %}
                        {% set icon_class = 'fa-pencil-alt' %}
                    {% endif %}
                    <div>
                        <i class="fas {{ icon_class }} fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                    <div class="position-absolute" style="bottom: 0.75rem; right: 25%; left: 25%;">
                        <div class="small">
                            {{ assignment.page.title if assignment.page else assignment.quiz.tested_skills.first().description }}
                        </div>
                        <div class="small text-muted">
                            {{ moment(assignment.due_date).format('MMM Do') }}
                        </div>
                    </div>
                </th>
                {% endfor %}
                <th class="position-relative"></th>
            </tr>
        </thead>
        {% for student in class.students %}
        <tr>
            <td class="border-right">{{ student.username }}</td>
            {% for assignment in assignments %}
            <td class="text-center">
                {% set best_score = StudentAssignment.query.filter_by(student_id=student.id, assignment_id=assignment.id).order_by(StudentAssignment.score.desc()).first() %}
                {% set best_score = best_score.score|int if best_score and best_score.score else None %}
                {% if assignment.is_quiz() and best_score %}
                <span class="badge badge-{% if best_score == 100 %}success{% elif best_score > 69 %}warning{% else %}danger{% endif %} p-2">{{ best_score }}</span>
                {% elif student in assignment.students %}
                <span class="badge badge-secondary p-2">&mdash;</span>
                {% endif %}
            </td>
            {% endfor %}
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>