{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set class = class_ %}

{% block styles %}
    {{ super() }}
    <!-- JQuery UI is for datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style type="text/css">
        .content:hover > div[data-toggle="collapse"] {
            background-color: #ffffff;
            cursor: pointer;
        }

        #content-dropdown:hover {
            color: #007bff;
            text-decoration: underline;
        }

        .dropdown-header {
            font-size: 1.05rem;
        }

        #assignments table th.text-center {
            width: 100px;
        }

        #assignments table th {
            height: 145px;
        }

        #assignments-table-header {
            width: 150px;
        }

        #pageModal .modal-dialog {
            overflow-y: initial !important;
        }

        #pageModal .modal-body {
            /*min-height: 680px;
            max-height: 680px;*/
            height: calc(100vh - 300px);
            overflow-y: auto;
        }

        #pageModal .modal-content {
            min-height: 600px;
        }

        @media (min-width: 1400px) {
            #pageModal .modal-dialog {
                max-width: 1200px;
            }
        }
    </style>
{% endblock %}

{% macro display_dropdown(item, last=True, arrow=True, missing_items=False, parent=None) %}
    {%- set item_type = item.__class__.__name__ -%}
    {% set is_page = (item_type == "Page" or item_type == "Quiz") %}
    {% set is_regular_quiz = item_type == "Lesson" and (not item.type.code == 'L') %}
    <div class="content{% if is_page %} bg-white{% endif %}"{% if parent %} data-parent-type="{{ parent.__class__.__name__|lower }}" data-parent-id="{{ parent.id }}"{% endif %}>
        <div class="border-top{% if last %} border-bottom{% endif %} {% if missing_items %}px-4 py-3{% else %}px-3 py-2{% endif %} text-dark{% if not missing_items %} content-toggler{% endif %}"{% if (not missing_items) and (not is_page) and (not is_regular_quiz) %} data-toggle="collapse" data-target="#{{ item_type|lower }}-{{ item.id }}-collapse" aria-expanded="false" aria-controls="{{ item_type|lower }}-{{ item.id }}-collapse"{% endif %}>
            {% if missing_items %}
            <p class="mb-0">No {{ item }} yet. Please wait for them to be added.</p>
            {% else %}
            <div class="d-flex">
                {%- if (arrow or is_page) and not is_regular_quiz %}
                    {%- if item_type == "Page" %}
                        {% if item.page_type.description == "Article" %}
                            {% set icon_class = 'fas fa-file fa-fw' %}
                        {% elif item.page_type.description == "Quiz" %}
                            {% set icon_class = 'fas fa-tasks fa-fw' %}
                        {% elif item.page_type.description == "Video" %}
                            {% set icon_class = 'fas fa-play fa-fw' %}
                        {% elif item.page_type.description == "Glossary" %}
                            {% set icon_class = 'fas fa-list-alt fa-fw' %}
                        {% endif %}
                    {% elif item_type == "Quiz" %}
                        {% set icon_class = 'fas fa-pencil-alt fa-fw' %}
                    {% else %}
                        {% set icon_class = 'fas fa-chevron-right fa-fw' %}
                    {% endif -%}
                <div class="{% if not is_page %}arrow {% endif %}align-self-center"><i class="{{ icon_class }}" aria-hidden="true"></i></div>
                {% endif -%}
                <div class="position-relative{% if not missing_items %} mr-auto{% endif %}" style="left: 10px;">
                    <p class="position-relative font-weight-normal mb-0" style="top: 2px;">
                        {% set is_quiz = item_type == 'Quiz' %}
                        {% if is_quiz %}
                        <a class="quiz-hyperlink" href="#" data-quiz-id="{{ item.id }}">{{ item.title() }}</a>
                        {% elif item_type == 'Page' %}
                        <a class="page-hyperlink" href="{{ url_for('main.lesson_page', id=item.id) }}" data-page-id="{{ item.id }}">{{ item.title }}</a>
                        {% else %}
                        {% if is_regular_quiz %}
                        <a href="{{ url_for('main.chapter', id=item.chapter.id, item='quiz_' + item.quizzes.first().id|string ) }}" target="_blank">{{ item.title }}</a>
                        {% else %}
                        {{ item.title }}
                        {% endif %}
                        {% endif %}
                    </p>
                    {% if is_regular_quiz %}
                    <p>This quiz tests students knowledge on:</p>
                    <ul>
                        {% for skill in item.quizzes.first().tested_skills.all() %}
                        <li>{{ skill.description }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <small class="position-relative text-muted" style="bottom: 2px;">{{ item_type }}{% if item_type == "Page" %} &mdash; {{ item.page_type.description }}{% endif %}</small>
                    {% endif %}
                </div>
                {% if not missing_items %}
                <div class="custom-control custom-checkbox align-self-center assignment-checkbox">
                    {% set item_type = 'chapter-quiz' if is_regular_quiz else item_type %}
                    {% set item_id = item.quizzes.first().id if is_regular_quiz else item.id %}
                    <input type="checkbox" class="custom-control-input {{ item_type|lower }}-checkbox" id="{{ item_type|lower }}-{{ item_id }}-checkbox" data-type="{{ item_type|lower }}" data-id="{{ item_id }}">
                    <label class="custom-control-label" for="{{ item_type|lower }}-{{ item_id }}-checkbox"></label>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block modals %}
    <!-- Assign pages and quizzes -->
    <div class="modal fade" id="assign-modal" tabindex="-1" role="dialog" aria-labelledby="assignModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign <span class="no-assigned-items"></span> items</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>To select multiple options, hold down Ctrl or &#8984; while clicking the different options.</p>
                    <hr />
                    {{ wtf.quick_form(form, form_type="horizontal", novalidate=True) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link text-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="assign-submit-btn">Assign <span class="badge badge-pill badge-light no-assigned-items"></span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add new students -->
    <div class="modal fade" id="add-students-modal" tabindex="-1" role="dialog" aria-labelledby="addStudentsModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add students</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="generate-users">
                        <h4 id="generate-users-heading">Create accounts for your students</h4>
                        <p id="generate-users-desc">Type in your students' full name and a unique username will be generated.</p>
                        <table class="table table-responsive w-100">
                            <thead class="thead-default">
                                <tr>
                                    <th class="w-50">Student name</th>
                                    <th class="w-50">Generated username</th>
                                    <th id="close-or-password"></th>
                                </tr>
                                </thead>
                                <tbody id="username-table-body">
                                    <tr class="username-field table-primary">
                                        <td class="align-middle" scope="row">
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control" name="new-username" id="new-username1" placeholder="e.g. John Doe">
                                            </div>
                                        </td>
                                        <td class="generated-username align-middle"></td>
                                        <td class="delete-username align-middle">
                                            <a href="#" class="delete-username-btn text-muted" style="visibility: hidden;"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </td>
                                        <td class="student-password align-middle d-none">
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control" name="student-password" id="student-password1" style="width: 200px;">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                        <p id="add-new-username-line-p">+ <a href="#" id="add-new-username-line">Add new line</a> (or press Enter)</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link mr-auto d-none" id="generate-users-back-btn">Back</button>
                    <button type="button" class="btn btn-primary disabled" id="generate-users-next-btn" disabled>Next</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Preview content -->
    <div class="modal fade" id="pageModal" tabindex="-1" role="dialog" aria-labelledby="previewContentModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="page-title"><!-- Will be replaced --></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="page-html">
                    <!-- Will be replaced by content -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="page-header mt-2">
        <div class="row justify-content-between">
            <div class="col-auto mr-auto">
                <p class="mb-0"><a href="{{ url_for('.dashboard') }}" class="text-dark">&larr; Back to all classes</a></p>
                <h2>{{ class.name }}</h2>
            </div>
            <div class="col-auto">
                <p class="mb-0 text-right">Class code</p>
                <h2>{{ class.code }}</h2>
            </div>
        </div>
    </div>
    <ul class="nav nav-pills mb-3" id="class-nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="students-tab" data-toggle="tab" href="#students-list" role="tab" aria-controls="students" aria-selected="false">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="assignments-tab" data-toggle="tab" href="#assignments" role="tab" aria-controls="assignments" aria-selected="false">Assignments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="assign-tab" data-toggle="tab" href="#assign" role="tab" aria-controls="assign" aria-selected="true">Assign</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
        </li>
    </ul>
    <div class="tab-content" id="class-nav-pills-content">
        <div class="tab-pane fade show active" id="students-list" role="tabpanel" aria-labelledby="students-tab">
            {% if class.students.all()|length > 0 %}
            <a data-toggle="modal" href="#add-students-modal">Add new students</a>
            <table class="table table-striped mt-2 w-75">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in class.students.all() %}
                    {% set active = ClassStudent.query.filter_by(class_id=class.id, student_id=student.id).first().student_status %}
                    <tr>
                        <th scope="row" class="font-weight-bold align-middle">{{ loop.index }}</th>
                        <td class="username align-middle">
                            {% if active %}
                            <div class="current-username" data-user-id="{{ student.id }}">{{ student.username }}</div>
                            <div class="d-none">
                                <div class="form-group mb-0">
                                  <input type="text" class="form-control" name="edit-username" id="edit-username{{ loop.index }}" value="{{ student.username }}" placeholder="Enter a new unique username here">
                                  <small class="form-text text-danger d-none">Sorry, but that username has already been taken.</small>
                                </div>
                            </div>
                            {% else %}
                            <del class="text-muted">{{ student.username }}</del>
                            {% endif %}
                        </td>
                        <td class="text-right align-middle">
                            {% if active %}
                            <button type="button" class="btn btn-sm btn-outline-success edit-username">Edit username</button>
                            <a class="btn btn-sm btn-outline-danger delete-student" href="{{ url_for('.delete_student_from_class', class_id=class.id, student_id=student.id) }}" role="button">Remove</a>
                            {% else %}
                            <p class="mb-0">Removed</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <!-- <p class="mb-0">No students yet. Please share the link <span class="text-primary">{{ url_for('main.join_class_confirm', code=class.code, _external=True) }}</span> with your students.</p> -->
            <h5>Get Started</h5>
            <p>Start now by <a data-toggle="modal" href="#add-students-modal">adding new students</a>.</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="assignments" role="tabpanel" aria-labelledby="assignments-tab">
            {% if assignments_pagination.items|length > 0 %}
            {% include "teacher/_assignment.html" %}
            {% else %}
            <p class="mb-0">No assignments at the moment.</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="assign" role="tabpanel" aria-labelledby="assign-tab">
            <div class="d-flex mb-2">
                <div class="dropdown mr-auto align-self-center">
                    <a class="dropdown-toggle" href="#" role="button" id="assign-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View more content
                    </a>
                    <div class="dropdown-menu" aria-labelledby="assign-dropdown">
                        {% for strand in Strand.query.all() %}
                        {%- set first = loop.first -%}
                        <h6 class="dropdown-header">{{ strand.name }}</h6>
                        <div class="dropdown-divider"></div>
                        {%- for module in strand.all_ordered_children() %}
                        <a class="dropdown-item module-dropdown pl-5{% if first and loop.first %} active{% endif %}" href="#" data-module="{{ module.id }}">{{ module.title }}</a>
                        {%- if loop.last %}

                        <div class="dropdown-divider"></div>

                        {% endif -%}
                        {% endfor -%}
                        {% endfor -%}
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" id="assign-btn" data-toggle="modal" data-target="#assign-modal">Assign <span class="badge badge-pill badge-light no-assigned-items"></span></button>
                </div>
            </div>
            {%- for strand in Strand.query.all() %}
                {%- for module in strand.all_ordered_children() %}
                    {%- if module.chapters.filter_by(active=True).count() > 0 %}
                        {%- for chapter in module.all_ordered_children() %}
                            {%- if chapter.active %}
                                {{ display_dropdown(chapter, loop.last, parent=module) }}
                                {%- set last = loop.last -%}
                                <div class="collapse ml-3 content-collapse" id="chapter-{{ chapter.id }}-collapse">
                                    {%- if chapter.all_ordered_children()|length > 0 %}
                                        {%- for lesson in chapter.all_ordered_children() %}
                                            {{ display_dropdown(lesson, last, parent=chapter) }}
                                            {%- if lesson.type.code == 'L' %}
                                            {%- set last = loop.last -%}
                                            <div class="collapse ml-3 content-collapse" id="lesson-{{ lesson.id }}-collapse">
                                                {%- set items = lesson.all_ordered_children() -%}
                                                {%- if items.extend(lesson.all_ordered_quizzes()) %}{% endif -%}{# A Jinja trick #}
                                                {%- if items %}
                                                    {%- for item in items %}
                                                        {{ display_dropdown(item, last, arrow=False, parent=lesson) }}
                                                    {% endfor -%}
                                                {% else %}
                                                    {{ display_dropdown('pages', missing_items=True) }}
                                                {% endif -%}
                                            </div>
                                            {% endif -%}
                                        {% endfor -%}
                                    {% else %}
                                        {{ display_dropdown('lessons', missing_items=True) }}
                                    {% endif -%}      
                                </div>
                            {% endif -%}
                        {% endfor -%}
                    {% else %}
                        {{ display_dropdown('chapters', missing_items=True, parent=module) }}
                    {% endif -%}
                {% endfor -%}
            {% endfor -%}
        </div>
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="form-group">
                <label for="edit-class-name">Class name (Max 50 characters)</label>
                <input type="text" class="form-control" name="edit-class-name" id="edit-class-name" placeholder="Edit the name of your class" value="{{ class.name }}" data-original-name="{{ class.name }}">
                <button type="button" class="btn btn-link disabled" id="save-class-name" disabled>Save</button>
            </div>
            <a class="btn btn-danger" href="{{ url_for('.delete_class', id=class.id) }}" role="button" id="delete-class">Delete this class</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- JQuery UI is for datepicker -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {{ moment.include_moment() }}
    <script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/load_page_content.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            // Preventing collapse from opening/closing when checkboxes are clicked
            $('.content-toggler .assignment-checkbox').on('click', function(e) {
                e.stopPropagation();
            });
            // Collapse arrows
            $('.content div').on('click', function() {
                var $arrow = $(this).children('.d-flex').children('.arrow');
                if ($arrow.children('.fa-chevron-right').length > 0) {
                    $arrow.html('<i class="fas fa-chevron-down fa-fw" aria-hidden="true"></i>')
                } else {
                    $arrow.html('<i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>')
                }
            });
            // View more content dropdown
            $('.module-dropdown').on('click', function(e) {
                e.preventDefault();
                $('.module-dropdown.active').removeClass('active');
                $(this).addClass('active');
                showContent();
            });
            showContent();
            function showContent() {
                $('.content[data-parent-type="module"]').hide();
                $('.content-collapse').collapse('hide');
                var $content = $('.content[data-parent-type="module"][data-parent-id="' + $('.module-dropdown.active').data('module') + '"]');
                $content.show();
                $($content.data('target') + '.content').show(); // Because of nested collapses
                $('.arrow').html('<i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>'); // Reset arrows
            }
            // Checkbox tick all functionality
            $('.assignment-checkbox input').on('change', function() {
                var $this = $(this);
                if (!$this.hasClass('page-checkbox') && !$this.hasClass('quiz-checkbox')) {
                    $('.content[data-parent-type="' + $this.data('type') + '"][data-parent-id="' + $this.data('id') + '"]').children('.content-toggler').children('.d-flex').children('.assignment-checkbox').children('input').prop('checked', this.checked).change();
                }
                if ($this.data('type') !== 'chapter') {
                    var $parent = $this.parent().parent().parent().parent();
                    var $inputs = $('.content[data-parent-type="' + $parent.attr('data-parent-type') + '"][data-parent-id="' + $parent.attr('data-parent-id') + '"] .assignment-checkbox input')
                    var count_checked = 0;
                    $inputs.each(function() {
                        if (this.checked) {
                            count_checked++;
                        }
                    });
                    if (this.checked && (count_checked === $inputs.length)) {
                        $('.assignment-checkbox input[data-type="' + $parent.attr('data-parent-type') + '"][data-id="' + $parent.attr('data-parent-id') + '"]').prop('checked', true);
                    } else if (!this.checked && (count_checked !== $inputs.length)) {
                        $('.assignment-checkbox input[data-type="' + $parent.attr('data-parent-type') + '"][data-id="' + $parent.attr('data-parent-id') + '"]').prop('checked', false);
                    }
                }
                var count = $('.assignment-checkbox input:checked.page-checkbox, .assignment-checkbox input:checked.quiz-checkbox, .assignment-checkbox input:checked.chapter-quiz-checkbox').length;
                if (count === 0) {
                    count = "";
                }
                var $assign_btn = $('#assign-btn');
                $('.no-assigned-items').text(count);
                if (!count) {
                    $assign_btn.prop('disabled', true);
                } else {
                    $assign_btn.prop('disabled', false);
                }
            });
            $('#assign-btn').prop('disabled', true);
            $('#due_date').attr('autocomplete', 'off').datepicker({dateFormat: 'dd-mm-yy', minDate: '+1D'});
            $('#submit').hide();
            $('#assign-submit-btn').on('click', function() {
                var objects = {pages: [], quizzes: [], chapter_quizzes: []}
                $('.assignment-checkbox input:checked').each(function() {
                    var $this = $(this);
                    if ($this.hasClass('page-checkbox')) {
                        objects.pages.push(Number($this.data('id')));
                    } else if ($this.hasClass('quiz-checkbox')) {
                        objects.quizzes.push(Number($this.data('id')));
                    } else if ($this.hasClass('chapter-quiz-checkbox')) {
                        objects.chapter_quizzes.push(Number($this.data('id')));
                    }
                });
                $.ajax({
                    url: "{{ url_for('teacher.save_items') }}",
                    data: JSON.stringify(objects),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    success: function() {
                        $('#submit').click(); // Click actual submit button
                    },
                    error: function(error) {
                        var error_message = $('<p>Sorry an unexpected error has occured.</p>');
                        $('#assign-modal .modal-body').append(error_message);
                        console.error(error);
                    }
                });
            });
            var objects = JSON.parse(`{{ objects | safe }}`);
            var type = "page";
            var object;
            for (var i = 0; i < objects.length; i++) {
                var object = objects[i];
                if (object === -1) {
                    type = "quiz";
                    continue;
                } else if (object === -2) {
                    type = "chapter-quiz"
                    continue;
                }
                $('#' + type + '-' + object + '-checkbox').prop('checked', true).change();
            }
            if (objects.length > 1) {
                $('#assign-tab').click();
                $('#assign-btn').click();
            }

            if (window.location.href.indexOf('assignments_page=') > -1) {
                setTimeout(function() {$('#assignments-tab').click();}, 50);
            }
            var page = "{{ assignments_pagination.page }}";
            $('#assignments').on('click', '.pagination-link', showAssignments);
            
            function showAssignments(e) {
                e.preventDefault();
                var direction = this.id == 'prev-btn' ? -1 : 1;
                var data = {class_id: "{{ class.id }}", page: page, direction: direction};
                $.ajax({
                    url: "{{ url_for('teacher.assignment_page') }}",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    success: function(response) {
                        $('#assignments').html(response.html);
                        flask_moment_render_all();
                        $('.assignment-progress').popover();
                        page = Number(page) + direction;
                    },
                    error: function(error) {
                        var error_message = $('<p>Sorry an unexpected error has occured.</p>');
                        $('#assignments').append(error_message);
                        console.error(error);
                    }
                });
            }
            $('#delete-class').on('click', function(e) {
                e.preventDefault();
                if (confirm('Are you sure you want to delete, {{ class.name }}? You are unable to undo this!')){
                    window.location.href = $(this).attr('href');
                }
            });
            function reindexIDs() {
                i = 0;
                $('[name="new-username"]').each(function() {
                    i++;
                    this.id = 'new-username' + i;
                });
            }

            $('[name="new-username"]').val(''); // Firefox doesn't clear form elements on refresh

            $('#add-new-username-line').on('click', function() {
                var $cloned_line = $('.username-field').first().clone();
                var $field = $cloned_line.children().first().children().children();
                $field.val('');
                $cloned_line.children('.generated-username').empty();
                $('.username-field').last().after($cloned_line);
                reindexIDs();
                $('.delete-username a').css('visibility', 'visible');
                $('.delete-username a').first().css('visibility', 'hidden');
                $field.focus();
            });
            $('#username-table-body').on('click', '.delete-username-btn', function() {
                $(this).parent().parent().remove();
                reindexIDs();
            });
            
            $('#username-table-body').on('keydown', '[name="new-username"]', function() {
                if (event.keyCode == 13) {
                    $('#add-new-username-line').click();
                }
            });
            var timer = null;
            var xhr = null;
            $('#username-table-body').on('input', '[name="new-username"]', function() {
                $('#generate-users-next-btn').addClass('disabled').prop('disabled', true);
                var $this = $(this);
                var name = $this.val();
                // Clear any previous requests so there are not 5 requests to the server at once.
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                else if (xhr) {
                    xhr.abort();
                    xhr = null;
                }
                timer = setTimeout(function() {
                    xhr = $.ajax({
                        url: "{{ url_for('teacher.generate_username') }}",
                        data: JSON.stringify({'name': name}),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        method: 'POST',
                        success: function(response) {
                            xhr = null;
                            $this.parent().parent().siblings('.generated-username').html('<span>' + response.username + '</span>');
                            var has_content = false;
                            $('[name="new-username"]').each(function() {
                                if ($(this).val().trim()) {
                                    has_content = true;
                                }
                            });
            
                            if (!has_content) {
                                $('#generate-users-next-btn').addClass('disabled').prop('disabled', true);
                            } else {
                                $('#generate-users-next-btn').removeClass('disabled').prop('disabled', false);
                            }
                        },
                        error: function(error) {
                            $this.parent().parent().siblings('.generated-username').html('<span>Sorry an unexpected error has occured.</span>');
                            console.error(error);
                        }
                    });
                }, 1000);
            });
            var username_heading = 'Create accounts for your students';
            var username_desc = 'Type in your students\' full name and a unique username will be generated.';
            var password_heading = 'Edit your students\' passwords';
            var password_desc = 'You now have the option to edit the password of your students.';
            var modal_page = 'username';
            $('#generate-users-next-btn').on('click', function() {
                if (modal_page == 'username') {
                    modal_page = 'password';
                    $(this).text('Create Accounts');
                    $('#generate-users-back-btn').removeClass('d-none');
                    $('#add-new-username-line-p').addClass('d-none');
                    $('#generate-users-heading').text(password_heading);
                    $('#generate-users-desc').text(password_desc);
                    $('.delete-username').addClass('d-none');
                    $('.student-password').each(function() {
                        var $this = $(this);
                        $this.removeClass('d-none');
                        var randomPassword = '';
                        characters = 'abcdefghijklmnopqrstuvwxyz0123456789_!'
                        for (var i = 0; i < 8; i++ ) {
                            randomPassword += characters.charAt(Math.floor(Math.random() * characters.length));
                        }
                        $this.children().children().val(randomPassword);
                    });
                    $('#close-or-password').text('Password');
                    $('[name="new-username"]').each(function() {
                        var $this = $(this);
                        var username = $this.val();
                        if (!username) {
                            $this.parent().parent().parent().remove();
                        }
                        $this.parent().addClass('d-none');
                        $this.parent().after('<span>' + username + '</span>');
                    });
                } else if (modal_page == 'password') {
                    // Submit
                    data = {'students': [], 'class_id': '{{ class.id }}'}
                    $('.generated-username').each(function() {
                        var $this = $(this);
                        var username = $this.children().text();
                        var password = $this.siblings('.student-password').children().children().val();
                        data.students.push({'username': username, 'password': password});
                    });
                    console.log(data)
                    $.ajax({
                        url: "{{ url_for('.create_accounts') }}",
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        method: 'POST',
                        success: function(response) {
                            $('#generate-users-back-btn').addClass('d-none');
                            $('#generate-users-next-btn').off('click').attr('data-dismiss', 'modal').text('Close');
                            $('#add-students-modal .modal-body').html('<h4>That\'s it!</h4><p>Your students have been successfully added.</p>')
                            $('#add-students-modal').on('hidden.bs.modal', function() {
                                window.location.href = "{{ url_for('teacher.display_class', id=class.id, _external=True) }}";
                            });
                        },
                        error: function(error) {
                            $('#add-students-modal .modal-body').append('<p>Sorry an unexpected error has occured.</p>');
                            console.error(error);
                        }
                    });
                }
            });
            $('#generate-users-back-btn').on('click', function() {
                if (modal_page == 'password') {
                    modal_page = 'username';
                    $(this).addClass('d-none');
                    $('#generate-users-next-btn').text('Next');
                    $('#add-new-username-line-p').removeClass('d-none');
                    $('#generate-users-heading').text(username_heading);
                    $('#generate-users-desc').text(username_desc);
                    $('.delete-username').removeClass('d-none');
                    $('.student-password').addClass('d-none');
                    $('#close-or-password').text('');
                    $('[name="new-username"]').each(function() {
                        var $this = $(this);
                        $this.parent().removeClass('d-none');
                        $this.parent().next().remove();
                    });
                }
            });

            $('#assign, #assignments').on('click', '.page-hyperlink, .quiz-hyperlink', function(e) {
                e.preventDefault();
                var $this = $(this);
                var is_page = $this.hasClass('page-hyperlink');
                
                $('#pageModal').modal('show');
                if (is_page) {
                    // Page
                    loadPageContent($this, $this.data('pageId'), is_quiz=false, preview=true)
        
                } else {
                    loadPageContent($this, $this.data('quizId'), is_quiz=true, preview=true)
                }
            });
        
            $('.delete-student').on('click', deleteStudent);

            function deleteStudent(e) {
                e.preventDefault();
                if (confirm('Are you sure you want to remove this student from the class?')) {
                    window.location.href = this.href;
                }
            }

            $('.edit-username').on('click', editUsername);

            function editUsername() {
                var $this = $(this);
                var $username_fields = $this.parent().siblings('.username').children();
                var $original_username = $username_fields.filter('.current-username');
                var $input_field_wrapper = $username_fields.last();
                var $input_field = $input_field_wrapper.children().children('.form-control');
                $original_username.addClass('d-none');
                $input_field_wrapper.removeClass('d-none');
                $this.text('Submit');
                $this.next().text('Cancel');
                $this.off('click').on('click', function() {
                    // Submit username
                    if ($input_field.val() != $original_username.text()) {
                        data = {class_id: "{{ class.id }}", student_id: $original_username.data('userId'), new_username: $input_field.val()}
                        $.ajax({
                            url: "{{ url_for('.edit_student') }}",
                            data: JSON.stringify(data),
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            method: 'POST',
                            success: function(response) {
                                if (response.unique_username) {
                                    window.location.reload();
                                } else {
                                    $input_field.siblings('.form-text').removeClass('d-none');
                                }
                            },
                            error: function(error) {
                                $('#add-students-modal .modal-body').append('<p>Sorry an unexpected error has occured.</p>');
                                console.error(error);
                            }
                        });
                    }
                });
                $this.next().off('click').on('click', function(e) {
                    // Cancel
                    e.preventDefault();
                    $this.text('Edit username');
                    $this.next().text('Remove');
                    $original_username.removeClass('d-none');
                    $input_field_wrapper.addClass('d-none');
                    $input_field.siblings('.form-text').addClass('d-none');
                    $this.off('click').on('click', editUsername);
                    $this.next().off('click').on('click', deleteStudent);
                });
            }

            $('#edit-class-name').on('input', function() {
                var name = $(this).val().trim();
                if (name.length > 50 || name.length === 0 || name == $(this).data('originalName')) {
                    $('#save-class-name').addClass('disabled').prop('disabled', true);
                } else {
                    $('#save-class-name').removeClass('disabled').prop('disabled', false);
                }
            });

            $('#save-class-name').on('click', function() {
                data = {class_id: "{{ class.id }}", name: $('#edit-class-name').val()};
                $.ajax({
                    url: "{{ url_for('.edit_class') }}",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    method: 'POST',
                    success: function(response) {
                        window.location.reload();
                    },
                    error: function(error) {
                        $(this).after('<small id="passwordHelpInline" class="text-danger">Invalid name.</small>');
                        console.error(error);
                    }
                });
            });
        });
    </script>
{% endblock %}