{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}" />
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-9 order-2 order-lg-1">
            <div class="post media">
                {% set no_read_more = True %}
                {% set show_body_html = True %}
                {% include 'teacher_blog/_post.html' %}
            </div>
        </div>
        <div class="col-lg-3 order-1 order-lg-2 mb-3">
            {% include "teacher_blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(".post .media-body img").addClass("img-fluid");
    </script>
    {{ moment.include_moment() }}
{% endblock %}