{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}

{% set list_items_singular = model_singulars.get(list_items) %}

{% macro render_items(items) %}
        {% if items|length > 0 %}
        <ul>
            {% for item in items %}
            {% if item.what_model() == "Strand" %}
            <li><a href="{{ url_for('admin.edit_strand', id=item.id) }}">{{ item.name }}</a></li>
            {%- elif item.what_model() == "Lesson" -%}
            <li><a href="{{ url_for('admin.edit_lesson', id=item.id) }}">{{ item.title }}</a> (In chapter: <a href="{{ url_for('admin.edit_chapter', id=item.chapter.id) }}">{{ item.chapter.title }}</a>{% if item.next_lesson %} and Next Lesson: <a href="{{ url_for('admin.edit_lesson', id=item.next_lesson.id) }}">{{ item.next_lesson.title }}</a>{% endif %})
                {% if item.skills[:] != [] -%}
                <ul>
                {% for skill in item.skills -%}
                    <li><a href="{{ url_for('admin.edit_skill', id=skill.id) }}">{{ skill.description }}</a></li>
                {%- endfor %}
                </ul>
                {%- endif %}
            </li>
            {% elif item.what_model() == "Chapter" %}
            <li><a href="{{ url_for('admin.edit_chapter', id=item.id) }}">{{ item.title }}: {{ item.name if item.name else "No name yet" }}</a> (In module: <a href="{{ url_for('admin.edit_module', id=item.module.id) }}">{{ item.module.title }}</a>
                {% if item.next_chapter %} and Next Chapter: <a href="{{ url_for('admin.edit_chapter', id=item.next_chapter.id) }}">{{ item.next_chapter.title }}</a>{% endif %})</li>
            {% elif item.what_model() == "Quiz" %}
            <li><a href="{{ url_for('admin.edit_quiz', id=item.id) }}">{{ item.title() }}</a> (In lesson: <a href="{{ url_for('admin.edit_lesson', id=item.lesson.id) }}">{{ item.lesson.title }}</a>) <a href="{{ url_for('main.take_quiz', id=item.id) }}" class="badge badge-danger">Take Quiz</a></li>
            {% elif item.what_model() == "Question" %}
            <li><a href="{{ url_for('admin.edit_question', id=item.id) }}" class="text-truncate d-inline-block" style="max-width: 50%; margin-bottom: -7px;">{{ item.text }}</a> (In skill: <a href="{{ url_for('admin.edit_skill', id=item.skill.id) }}">{{ item.skill.description }}</a> in lesson: <a href="{{ url_for('admin.edit_lesson', id=item.skill.lesson.id) }}">{{ item.skill.lesson.title }}</a>)</li>
            {% elif item.what_model() == "Skill" %}
            <li><a href="{{ url_for('admin.edit_skill', id=item.id) }}">{{ item.description }}</a></li>
            {% else %}
            <li><a href="{{ url_for('admin.edit_' + list_items_singular, id=item.id) }}">{{ item.title }}{% if item.what_model() == "Page" %}</a>
                (Type: <span class="text-danger">{{ item.page_type.description }}</span> | In lesson: <a href="{{ url_for('admin.edit_lesson', id=item.lesson.id) }}">{{ item.lesson.title }}</a>{% if item.next_page %}
                | Next Page: <a href="{{ url_for('admin.edit_page', id=item.next_page.id) }}">{{ item.next_page.title }}</a>{% endif %}){% else %}{% if item.next_module %}</a> (Next Module: <a href="{{ url_for('admin.edit_module', id=item.next_module.id) }}">{{ item.next_module.title }}</a>){% endif %}</a>{% endif %}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p class="table-primary p-2 pl-3">There are no {{ list_items }}.</p>
        {% endif %}
{% endmacro %}
{% block page_content %}
    <div class="page-header">
        <h1>All {{ list_items }}</h1>
    </div>
    {% if list_items == 'Modules' or list_items == 'Chapters' or list_items == 'Lessons' or list_items == 'Pages' or list_items == 'Skills' or list_items == 'Projects' %}
    {% for group in groups %}
    <h3>{{ group.name or group.title }}</h3>
        {% if list_items == 'Projects' %}
        {% set items = group.projects.all() %}
        {% elif list_items == 'Skills' %}
        {% set items = group.skills.all() %}
        {% else %}
        {% set items = group.all_ordered_children() %}
        {% endif %}
        {{ render_items(items) }}
    {% endfor %}
    {% else %}
    {{ render_items(items) }}
    {% endif %}
    <a class="btn btn-success" href="{{ url_for('admin.new_' + list_items_singular) }}">New {{ list_items_singular }}</a>
{% endblock %}