{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>Edit Quiz in Lesson {{ quiz.lesson.title }}</h1>
    </div>
    {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
    <div id="btns" role="toolbar">
        <a href="{{ url_for('admin.quizzes_questions', id=quiz.id) }}" class="btn btn-info ml-2">Show all Questions</a>
        <a id="exit" class="btn btn-primary ml-2" href="{{ url_for('admin.all_quizzes') }}" role="button">Exit</a>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $('form').get(0).reset();
        $('textarea').css('resize', 'vertical');
        $('form input[type="submit"]').detach().prependTo('#btns');
        $('#btns').detach().appendTo('form:last');
    </script>
{% endblock %}