{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>Edit Quiz in Page {{ quiz.page.title }}</h1>
    </div>
    {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
    <div class="btn-toolbar">
        <a href="{{ url_for('admin.quizzes_questions', id=quiz.id) }}" class="btn btn-info">Show all Questions</a>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $('form').get(0).reset();
        $('textarea').css('resize', 'vertical');
        $('form input[type="submit"]').detach().prependTo('.btn-toolbar');
        $('.btn-toolbar').detach().appendTo('form:last');
    </script>
{% endblock %}