{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>Edit {{ strand.name }}</h1>
    </div>
    {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
    <a id="show-all" class="btn btn-info ml-2" href="{{ url_for('admin.strands_modules', id=strand.id) }}">Show all Modules</a>
    <a id="exit" class="btn btn-primary ml-2" href="{{ url_for('admin.all_questions') }}" role="button">Exit</a>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $('<div class="btn-toolbar" id="actions">').appendTo($('form').not('[action="/search"]'));
        $('input[type="submit"]').appendTo($('#actions'));
        var $showAll = $('#show-all').detach();
        $showAll.appendTo($('#actions'));

        $('#exit').detach().appendTo($('#actions'));
    </script>
{% endblock %}