{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Edit Question</h1>
    </div>
    {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="{{ url_for('static', filename='js/question.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var options = `{{ options | safe | replace('`', '\`') }}`;
            options = JSON.parse(options);
            
            if (options[0]) {
                // Options[0] is null when type = Single Answer
                for (var i = 0; i < options.length; i++) {
                    if (i === 0) {
                        $('[name="options1"]').first().val(options[i]);
                    } else if (i > 1) {
                        $newOptionBtn.click();
                        $('[name="options1"]').last().val(options[i]);
                    } else {
                        $('[name="options1"]').last().val(options[i]);
                    }
                }
            }
            updateMaxAttempts();
        });
    </script>
{% endblock %}