<a href="#" class="mr-3">
    <img class="img-circle media-object" src="#">
</a>
<div class="media-body">
    <h2 class="media-heading">{{ announcement.title }}{% if not announcement.published %} (Draft){% endif %}</h2>
    By <a href="#">{{ announcement.author.username }}</a>
    <br />
    <span class="far fa-clock"></span> {{ moment(announcement.date_posted).format('MMMM Do YYYY, h:mm:ss a') }}
    <br />
    {% if show_body_html %}
    <div>{{ announcement.body_html|safe }}</div>
    {% else %}
    <div>{{ announcement.summary_html|safe }}</div>
    {% endif %}
    {% if not no_read_more %}
    <a class="btn btn-info" href="{{ url_for('announcements.permalink', id=announcement.id) }}">Read more &raquo;</a>
    {% endif %}
    <hr />
    <div class="announcement-controls float-sm-right">
        {% if current_user.username == announcement.author.username or current_user.is_admin() %}
        <a class="edit-btn" href="{{ url_for('announcements.edit', id=announcement.id) }}"><span class="badge badge-primary">Edit</span></a>
        {% if announcement.published %}
        <a href="{{ url_for('announcements.draft', id=announcement.id) }}"><span class="badge badge-danger">Make Draft</span></a>
        {% else %}
        <a href="{{ url_for('announcements.public', id=announcement.id) }}"><span class="badge badge-success">Make Public</span></a>
        {% endif %}
        {% endif %}
    </div>
    <p>Tags:
        {% if announcement.tags|length > 0 %}
            {% for tag in announcement.tags %}
                {# The last tag should not have a comma after it. #}
                <a href="{{ url_for('announcements.tag', id=tag.id) }}">{{ tag.name }}</a>{% if not tag.id == announcement.tags[-1].id %},{% endif %}
            {% endfor %}
        {% else %}
        No tags!
        {% endif %}
    </p>
</div>