{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/announcement.css') }}" />
{% endblock %}

{% block page_content %}
    <div class="page-header mt-0">
        <h1>Announcements</h1>
    </div>
    <div class="row">
        <div class="col-lg-9 order-2 order-lg-1">
            {% if current_user.is_admin() %}
            <button type="button" class="btn btn-success" data-toggle="modal" id="comBtn" style="margin-bottom: 20px;">Add announcement</button>
            <div id="formAcc" style="margin-bottom: 20px;">
                {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
            </div>
            {% endif %}
            {% if posts %}
            <ul id="posts" class="list-unstyled">
                {% for post in posts %}
                <li class="post media">
                    {% include 'announcements/_post.html' %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No announcements yet!</p>
            {% endif %}
            {{ macros.addPagination(pagination, '.index') }}
        </div>
        <div class="col-lg-3 order-1 order-lg-2 mb-3">
            {% include "announcements/_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    {% if current_user.is_admin() %}
    <script>
        new SimpleMDE({element: $('#body')[0], forceSync: true, hideIcons:["guide"]});
        new SimpleMDE({element: $('#summary')[0], forceSync: true, hideIcons:["guide"]});
        $('#formAcc').hide()
        $('#comBtn').on("click", function() {
            $('#formAcc').slideToggle();
        });
        if ($('#formAcc form div.has-danger').length > 0) {
            $('#comBtn').click();
        }
    </script>
    {% endif %}
    <script>    
        $(".post .media-body img").addClass("img-fluid");
    </script>
    {{ moment.include_moment() }}
{% endblock %}