{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}
{% import "_macros.html" as macros %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/announcement.css') }}" />
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Tag "{{ tag.name }}"</h1>
    </div>
    <div class="row">
        <div class="col-lg-9 order-2 order-lg-1">
            {% if announcements %}
            <ul id="announcements" class="list-unstyled">
                {% for announcement in announcements %}
                <li class="announcement media">
                    {% include 'announcements/_announcement.html' %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No announcements in this tag yet!</p>
            {% endif %}
            {{ macros.addPagination(pagination, '.tag', id=tag.id) }}
        </div>
        <div class="col-lg-3 order-1 order-lg-2 mb-3">
            {% include "announcements/_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(".announcement .media-body img").addClass("img-fluid");
    </script>
    {{ moment.include_moment() }}
{% endblock %}