{% import "bootstrap/wtf.html" as wtf %}

{% macro addPagination(pagination, endpoint) %}
    <ul class="pagination">
        <li{% if not pagination.has_prev %} class="page-item disabled" {% endif %}>
            <a class="page-link" href="{% if not pagination.has_prev %}#bottom{% else %}{{ url_for(endpoint, page=pagination.page - 1, **kwargs) }}{% endif %}">
                &laquo;
            </a>
        </li>
        {% for page in pagination.iter_pages() %}
        {% if page %}
        {% if page == pagination.page %}
        <li class="page-item active"><a class="page-link" href="#bottom">{{ page }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a></li>
        {% endif %}
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#bottom">&hellip;</a></li>
        {% endif %}
        {% endfor %}
        <li{% if not pagination.has_next %} class="page-item disabled" {% endif %}>
            <a class="page-link" href="{% if not pagination.has_next %}#bottom{% else %}{{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}{% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro add_drag_n_drop_text(question, draggable_buttons=True) %}
                <div class="draggable-items-box card bg-info mb-3 p-3 pt-1 flex-row flex-wrap align-items-stretch" style="min-height: 80px;">
                    {% for item in question.options[:-1] %}
                    <span class="{% if not draggable_buttons %}un{% endif %}draggable-btn bg-white mr-3 mt-2 p-2 d-flex" data-position="{{ loop.index }}">
                        <span class="m-auto text-dark">{{ item.text | safe }}</span>
                    </span>
                    {% endfor %}
                </div>
                <h5>Drag the above tiles to the correct box on the right.</h5>
                {% if draggable_buttons %}
                <p class="text-danger">WARNING: When you drag all {{ question.options[:-1] | length }} tiles to a box, they're positions cannot be changed.</p>
                {% endif %}
{% endmacro %}
{% macro add_question_input(question, enable_input=True) %}
                {% if question.question_type.code == 'C' %}
                <p class="mb-0">Choose <em>one</em> of the options:</p>
                {% for option in question.options %}
                <div class="custom-control custom-radio">
                    <input type="radio" id="options-{{ loop.index }}-{{ question.id }}" name="options-{{ question.id }}" class="custom-control-input"{% if not enable_input %} disabled{% endif %} />
                    <label class="custom-control-label" for="options-{{ loop.index }}-{{ question.id }}">
                        {{ option.text }}
                    </label>
                </div>
                {% endfor %}
                {% elif question.question_type.code == 'M' %}
                <p class="mb-0">Choose <em>all</em> the options that apply:</p>
                {% for option in question.options %}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="options-{{ loop.index }}-{{ question.id }}" name="options-{{ question.id }}" class="custom-control-input"{% if not enable_input %} disabled{% endif %} />
                    <label class="custom-control-label" for="options-{{ loop.index }}-{{ question.id }}">
                        {{ option.text }}
                    </label>
                </div>
                {% endfor %}
                {% elif question.question_type.code == 'S' %}
                <input autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" type="text" id="answer" value=""{% if not enable_input %} disabled{% endif %} />
                {% endif %}
{% endmacro %}