{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}

{% macro display_module(module, color=0) -%}
    {%- if module %}
    <h4 class="module-titles-{{ color }}">{{ module.title }}</h4>
    <div class="chapters">
        <div class="row no-gutters">
            {{ display_chapter(module.chapters.filter_by(prev_chapter=None).first()) }}
        </div>
    </div>
    {%- endif -%}
    {% if module.next_module -%}
        {% if color == 4 %}
            {{ display_module(module.next_module, 0) }}
        {% else %}
            {{ display_module(module.next_module, color+1) }}
        {% endif %}
    {%- endif %}
{%- endmacro %}

{% macro display_chapter(chapter) -%}
            {%- if chapter and (chapter.active or current_user.is_admin()) %}
            <div class="col-4 col-sm-3 col-md-2 chapter{% if not chapter.active %} disabled{% endif %}" data-toggle="popover" data-trigger="hover" data-placement="top" title="Learning Outcome" data-content="{{ chapter.description }}" data-html="true">
                <a class="text-white" href="{{ url_for('main.chapter', id=chapter.id) }}">
                    <p class="pt-4 pb-2 h-100">
                        {% if chapter.icon %}
                        <img src="{{ chapter.icon }}" alt="chapter icon">
                        {% endif %}
                        <span>{{ chapter.title }}</span>
                    </p>
                </a>
            </div>
            {%- endif -%}
            {% if chapter.next_chapter -%}
                {{ display_chapter(chapter.next_chapter) }}
            {%- endif %}
{%- endmacro %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        .module-titles-0 {
            color: #eecd12 !important;
        }

        .module-titles-1 {
            color: #bd1e1e !important;
        }

        .module-titles-2 {
            color: #1e9738 !important;
        }

        .module-titles-3 {
            color: #691e86 !important;
        }

        .module-titles-4 {
            color: #12a77a !important;
        }

        .chapter {
            background-color: #0dacd4;
            margin-right: 25px;
            margin-bottom: 10px;
            box-shadow: 0 0 20px #707070;
            border-radius: 7px;
        }

        .chapter.disabled {
            background-color: #808080
        }

        .chapter p {
            text-align: center;
            font-size: 1.15em;
        }

        .popover {
            color: #000000;
        }

        .popover-title {
            text-align: center;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Strands</h1>
    </div>
    {% for strand in Strand.query.all() %}
    <h3>{{ strand.name }}</h3>
    <hr />
    {% if strand.all_ordered_children()|length > 0 %}
    {{ display_module(strand.all_ordered_children()[0]) }}
    {% else %}
    <p>No modules</p>
    {% endif %}
    <hr />
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function sizeChapters() {
            var longHeight = 0;
            $('.chapter').each(function() {
                if ($(this).height() > longHeight) {
                    longHeight = $(this).height();
                }
            });
            $('.chapter').each(function() {
                $(this).height(longHeight);
            });

            /*$('.chapter p').each(function() {
                var top = $(this).parent().height() / 2 - $(this).height() / 2;
                $(this).css({
                    marginTop: top
                });
            });*/
        }
        $(window).on('resize', sizeChapters);
        sizeChapters();
        $('[data-toggle="popover"]').popover();

        $('.chapters .row').each(function() {
            if ($(this).children().length === 0) {
                $(this).parent().prev('h4').remove();
            }
        });
    </script>
{% endblock %}