{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
    <style type="text/css">
        .editor-toolbar.fullscreen {
            z-index: 99999;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Edit Answer</h1>
    </div>
    {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script type="text/javascript">
        new SimpleMDE({element: $('#answer')[0], forceSync: true, hideIcons: ["guide"]});
    </script>
{% endblock %}