{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}

{% macro display_assignments(assignments, type) %}
            <table class="table">
                <thead>
                    <tr>
                        <th>All {{ type }}</th>
                        <th>Due date</th>
                        <th>Class</th>
                        <th>Your progress</th>
                    </tr>
                </thead>
                <tbody>
                {% if assignments %}
                    {% for assignment in assignments %}
                    <tr>
                        <td>
                            {%- if not assignment.is_quiz() %}
                                {% if assignment.page.page_type.description == "Article" %}
                                    {% set icon_class = 'fas fa-file fa-fw' %}
                                {% elif assignment.page.page_type.description == "Quiz" %}
                                    {% set icon_class = 'fas fa-tasks fa-fw' %}
                                {% elif assignment.page.page_type.description == "Video" %}
                                    {% set icon_class = 'fas fa-play fa-fw' %}
                                {% elif assignment.page.page_type.description == "Glossary" %}
                                    {% set icon_class = 'fas fa-list-alt fa-fw' %}
                                {% endif %}
                            {% else %}
                                {% set icon_class = 'fas fa-pencil-alt fa-fw' %}
                            {% endif %}
                            <i class="{{ icon_class }}" aria-hidden="true"></i>
                            <span>{{ assignment.page.title if assignment.page else assignment.quiz.tested_skills.first().description }}</span>
                        </td>
                        {% set is_late = False if StudentAssignment.query.filter_by(student_id=current_user.id, assignment_id=assignment.id).first().score is not none or type != "past" or not assignment.is_quiz() else True %}
                        <td>{% if is_late %}<span class="text-danger">Late: {% endif %}{{ moment(assignment.due_date).format('dddd, Do MMMM YYYY') }}{% if is_late %}</span>{% endif %}</td>
                        <td>{{ assignment._class.name }}</td>
                        <td>
                            {% if assignment.is_quiz() %}
                            {% set best_score = StudentAssignment.query.filter_by(student_id=current_user.id, assignment_id=assignment.id).order_by(StudentAssignment.score.desc()).first() %}
                            {% set best_score = best_score.score|int if best_score and best_score.score else None %}
                            {% set quiz_url = url_for('main.chapter', id=assignment.quiz.lesson.chapter.id, item='quiz_' + assignment.quiz.id|string) %}
                            {% if best_score %}
                            {% if not best_score == 100 %}
                            <a href="{{ quiz_url }}" role="button">Try again</a> |
                            {% else %}
                            Completed |
                            {% endif %}
                            <span class="badge badge-{% if best_score == 100 %}success{% elif best_score > 69 %}warning{% else %}danger{% endif %} p-2">{{ best_score }}%</span>
                            {% else %}
                            <a class="btn btn-primary btn-sm" href="{{ quiz_url }}" role="button">Start</a>
                            {% endif %}
                            {% else %}
                            Recommended by your teacher
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>You don't have any {{ type }} assignments.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
{% endmacro %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        #heading {
            font-size: 50px;
            margin-top: 0;
            color: #3379b8;
            text-shadow: #8c8c8c 3px 3px 5px;
        }

        .img {
            height: 171px;
        }
        
        .jumbotron {
            padding: 30px !important;
            background-color: #fff8dc
        }

        #text {
            margin-top: 20px;
        }

        #text p {
            font-weight: 400;
        }

        #assignments th {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block modals %}
    <!-- Modal -->
    <div class="modal fade" id="intro-vid-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title no-relative">JCCoder Introduction Video</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="intro-vid" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close-btn">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    {% if current_user.is_authenticated %}
    <div class="page-header border-bottom-0 pb-0">
        <h1>My Assignments</h1>
    </div>
    <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item">
            <a href="#upcoming-assignments" class="nav-link active" data-toggle="tab" aria-controls="upcoming-assignments" aria-selected="true">Upcoming</a>
        </li>
        <li class="nav-item">
            <a href="#past-assignments" class="nav-link" data-toggle="tab" aria-controls="past-assignments" aria-selected="false">Past</a>
        </li>
    </ul>
    <div class="tab-content" id="assignments">
        <div class="tab-pane fade show active" id="upcoming-assignments" role="tabpanel" aria-labelledby="upcoming-tab">
            {{ display_assignments(upcoming_assignments, 'upcoming') }}
        </div>
        <div class="tab-pane fade" id="past-assignments" role="tabpanel" aria-labelledby="past-tab">
            {{ display_assignments(past_assignments, 'past') }}
        </div>
    </div>
    {% else %}
    <div class="jumbotron">
        <div class="row">
            <h1 class="col-sm-12 col-md-8 col-lg-9" id="heading">
                JCCoder
            </h1>
            <img class="col-sm-5 col-md-4 col-lg-3 order-sm-first" src="/static/images/home_page_icon.png" />
        </div>
        <div id="text">
            <p>Are you thinking of studying Computer Science and Coding for the Junior Cert?</p>
            <p>Do you want to know what it is all about?</p>
            <p>This website will get you started!</p>
        </div>
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#intro-vid-modal" id="intro-btn">JCCoder Introduction Video</button>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>My Digital World</h3>
            <p>
                Computer Science Introduction!
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
            <img src="/static/images/digitalWorld2.jpg" class="img img-fluid" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>Coding</h3>
            <p>
                Learn the language of computers!
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
            <img src="/static/images/coding.png" class="img img-fluid" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>Algorithms</h3>
            <p>
                Solve problems, step-by-step!
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
            <img src="/static/images/flowchart.jpg" class="img img-fluid" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>Data Representation</h3>
            <p>
                Computer numbers!
            </p>
            <p>
                <a class="btn btn-info" href="#">Learn more &raquo;</a>
            </p>
            <img src="/static/images/hexToDec.png" class="img img-fluid" />
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if current_user.is_authenticated %}
    {{ moment.include_moment() }}
    {% endif %}
    <script type="text/javascript">
        $("#intro-btn").on("click", function() {
            var src = "https://www.youtube.com/embed/DLGITIXru_c?rel=0"
            $("#intro-vid").attr("src", src);
        });

        $("#intro-vid-modal").on("hide.bs.modal", function() {
            $("#intro-vid").removeAttr("src");
        });
    </script>
{% endblock %}