{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        #heading {
            font-size: 50px;
            margin-top: 0;
            color: #3379b8;
            text-shadow: #8c8c8c 3px 3px 5px;
        }

        .img {
            height: 171px;
        }
        
        .jumbotron {
            padding: 30px !important;
            background-color: #fff8dc
        }

        #text {
            margin-top: 20px;
        }

        #text p {
            font-weight: 400;
        }
    </style>
{% endblock %}

{% block modals %}
    <!-- Modal -->
    <div class="modal fade" id="intro-vid-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title no-relative">JCCoder Introduction Video</h3>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="intro-vid" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close-btn">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <div class="row">
            <h1 class="col-xs-12 col-sm-8 col-md-9 col-sm-push-4 col-md-push-3" id="heading">
                JCCoder
            </h1>
            <img class="col-xs-5 col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9" src="/static/images/home_page_icon.png" />
        </div>
        <div id="text">
            <p>Are you thinking of studying Computer Science and Coding for the Junior Cert?</p>
            <p>Do you want to know what it is all about?</p>
            <p>This website will get you started!</p>
        </div>
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#intro-vid-modal" id="intro-btn">JCCoder Introduction Video</button>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>My Digital World</h3>
            <p>
                Computer Science Introduction!
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
            <img src="/static/images/digitalWorld2.jpg" class="img img-responsive" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>Coding</h3>
            <p>
                Learn the language of computers!
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
            <img src="/static/images/coding.png" class="img img-responsive" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>Algorithms</h3>
            <p>
                Solve problems, step-by-step!
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
            <img src="/static/images/flowchart.jpg" class="img img-responsive" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>Data Representation</h3>
            <p>
                Computer numbers!
            </p>
            <p>
                <a class="btn btn-info" href="#">Learn more &raquo;</a>
            </p>
            <img src="/static/images/hexToDec.png" class="img img-responsive" />
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $("#intro-btn").on("click", function() {
            var src = "https://www.youtube.com/embed/DLGITIXru_c?rel=0"
            $("#intro-vid").attr("src", src);
        });

        $("#intro-vid-modal").on("hide.bs.modal", function() {
            $("#intro-vid").removeAttr("src");
        });
    </script>
{% endblock %}