{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        #heading {
            font-size: 50px;
            margin-top: 0;
            color: #3379b8;
            text-shadow: #8c8c8c 3px 3px 5px;
        }

        .img {
            height: 171px;
        }
        
        .jumbotron {
            padding: 30px !important;
            background-color: #fff8dc
        }

        #text {
            margin-top: 20px;
        }

        #text p {
            font-weight: 400;
        }

        #assignments th {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block modals %}
    <!-- Modal -->
    <div class="modal fade" id="intro-vid-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title no-relative">JCCoder Introduction Video</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="intro-vid" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close-btn">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    {% if current_user.is_authenticated and not current_user.can(Permission.MANAGE_CLASS) %}
    <div class="page-header border-bottom-0 pb-0">
        <h1>My Assignments</h1>
    </div>
    <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item">
            <a href="#upcoming-assignments" class="nav-link active" data-toggle="tab" aria-controls="upcoming-assignments" aria-selected="true">Upcoming</a>
        </li>
        <li class="nav-item">
            <a href="#past-assignments" class="nav-link" data-toggle="tab" aria-controls="past-assignments" aria-selected="false">Past</a>
        </li>
    </ul>
    <div class="tab-content" id="assignments">
        <div class="tab-pane fade show active" id="upcoming-assignments" role="tabpanel" aria-labelledby="upcoming-tab">
            {% set pagination = upcoming_assignments %}
            {% set assignments = upcoming_assignments.items %}
            {% set type = 'upcoming' %}
            {% include "_upcoming_past_assignments.html" %}
        </div>
        <div class="tab-pane fade" id="past-assignments" role="tabpanel" aria-labelledby="past-tab">
            {% set pagination = past_assignments %}
            {% set assignments = past_assignments.items %}
            {% set type = 'past' %}
            {% include "_upcoming_past_assignments.html" %}
        </div>
    </div>
    {% else %}
    <div class="jumbotron">
        <div class="row">
            <h1 class="col-sm-12 col-md-8 col-lg-9" id="heading">
                JCCoder
            </h1>
            <img class="col-sm-5 col-md-4 col-lg-3 order-sm-first" src="/static/images/home_page_icon.png" />
        </div>
        <div id="text">
            <p>Are you thinking of studying Computer Science and Coding for the Junior Cert?</p>
            <p>Do you want to know what it is all about?</p>
            <p>This website will get you started!</p>
        </div>
        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#intro-vid-modal" id="intro-btn">JCCoder Introduction Video</button>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>My Digital World</h3>
            <p>
                Computer Science Introduction!
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
            <img src="/static/images/digitalWorld2.jpg" class="img img-fluid" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>Coding</h3>
            <p>
                Learn the language of computers!
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
            <img src="/static/images/coding.png" class="img img-fluid" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>Algorithms</h3>
            <p>
                Solve problems, step-by-step!
            </p>
            <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
            <img src="/static/images/flowchart.jpg" class="img img-fluid" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3>Data Representation</h3>
            <p>
                Computer numbers!
            </p>
            <p>
                <a class="btn btn-info" href="#">Learn more &raquo;</a>
            </p>
            <img src="/static/images/hexToDec.png" class="img img-fluid" />
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if current_user.is_authenticated %}
    {{ moment.include_moment() }}
    {% endif %}
    <script type="text/javascript">
        $("#intro-btn").on("click", function() {
            var src = "https://www.youtube.com/embed/DLGITIXru_c?rel=0"
            $("#intro-vid").attr("src", src);
        });

        $("#intro-vid-modal").on("hide.bs.modal", function() {
            $("#intro-vid").removeAttr("src");
        });

        if (window.location.href.indexOf('past_page=') > -1) {
            setTimeout(function() {$('[href="#past-assignments"]').click();}, 100);
        }

        var upcoming_page = "{{ upcoming_assignments.page }}";
        var past_page = "{{ past_assignments.page }}";
        $('.pagination-link').on('click', showAssignments);
        
        function showAssignments(e) {
            e.preventDefault();
            var type = $(this).siblings('.table').hasClass('upcoming-assignments') ? 'upcoming' : 'past';
            var direction = this.id == 'prev-btn' ? -1 : 1;
            var page = type == 'upcoming' ? upcoming_page : past_page;
            var data = {page: page, direction: direction, type: type};
            $.ajax({
                url: "{{ url_for('.assignment_table') }}",
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                success: function(response) {
                    $('#' + type + '-assignments').html(response.html);
                    flask_moment_render_all();
                    $('.pagination-link').on('click', showAssignments);
                    var current_page = Number(page) + direction;
                    if (type == "upcoming") {
                        upcoming_page = current_page;
                    } else {
                        past_page = current_page;
                    }
                },
                error: function(error) {
                    var error_message = $('<p>Sorry an unexpected error has occured.</p>');
                    $('#' + type + '-assignments').append(error_message);
                    console.error(error);
                }
            });
        }
    </script>
{% endblock %}