{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro display_page(_page) -%}
{%- if _page %}
{% if not _page.is_unlocked() %}
{% set icon_class = 'fas fa-lock fa-fw' %}
{% elif _page.page_type.description == "Article" %}
{% set icon_class = 'fas fa-file fa-fw' %}
{% elif _page.page_type.description == "Quiz" %}
{% set icon_class = 'fas fa-tasks fa-fw' %}
{% elif _page.page_type.description == "Video" %}
{% set icon_class = 'fas fa-play fa-fw' %}
{% elif _page.page_type.description == "Glossary" %}
{% set icon_class = 'fas fa-list-alt fa-fw' %}
{% endif %}
                    <p class="sidebar-page position-relative mb-0{% if _page.id == page.id %} active{% endif %}">
                        {% if _page.is_unlocked() %}
                        <a href="{{ url_for('main.lesson_page', id=_page.id) }}">
                            <span class="page-title ml-5 my-2">{{ _page.title }}</span>
                            <span class="dot">
                                <span class="{{ icon_class }}"></span>
                            </span>
                        </a>
                        {% else %}
                        <span class="locked">
                            <span class="dot">
                                <span class="{{ icon_class }}"></span>
                            </span>
                            <span>Locked</span>
                        </span>
                        {% endif %}
                    </p>
{%- endif -%}
{% if _page.next_page -%}
{{ display_page(_page.next_page) }}
{%- endif %}
{%- endmacro %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
    <style>
        .editor-toolbar.fullscreen {
            z-index: 99999 !important;
        }

        .nav-links::before, .nav-links::after {
            display: table;
            content: " ";
        }
        
        .nav-links::after {
            clear: both;
        }

        .text-hover-white:hover a {
            color: #ffffff !important;
        }

        pre {
            overflow-y: auto;
            overflow-x: auto;
            max-height: 500px;
            min-width: 200px;
            max-width: 600px;
        }

        /* li.L0, li.L1, li.L2, li.L3,
        li.L5, li.L6, li.L7, li.L8 {
            list-style-type: decimal !important;
        } */

        .question, .answer {
            border-bottom: 1px solid #eee;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .question .answer:first-of-type {
            border-top: 1px solid #eee;
            margin-top: 10px;
        }

        div#sidebar {
            position: fixed;
            top: 50px;
            left: 0;
            width: 300px;
            height: 100%;
            border-right: 1px solid #919191;
            background-color: #fdfdfd;
        }
        
        #sidebar-title {
            color: #337ab7;
            font-weight: 500;
            font-size: 18px;
            border-bottom: 1px solid #919191;
        }

        #sidebar-lesson-title h4 {
            color: #000000;
        }

        #sidebar-title, #sidebar-next-lesson {
            padding: 20px 20px 20px 20px;
        }

        #sidebar-pages {
            border-bottom: 1px solid #919191;
            max-height: 500px;
        }

        #sidebar-content {
            overflow-y: auto;
            border-bottom: 1px solid #919191;
        }

        #sidebar-pages .glyphicon {
            color: #337ab7;
        }

        .sidebar-page {
            padding: 10px 20px 10px 20px
        }

        .sidebar-page.active {
            background-color: #ececec;
            border-top: 1px solid #919191;
            border-bottom: 1px solid #919191;
        }

        .sidebar-page:first-of-type {
            border-top: none;
        }

        .quiz {
            height: 100vh;
            background-color: #f7f7f7;
        }

        .dot {
            position: absolute;
            left: 17px;
            top: 10px;
            display: inline-block;
            border-radius: 60px;
            border: 1px solid #646464;
            padding: 0.4em 0.5em 0.3em;
            z-index: 1000;
        }
    </style>
{% endblock %}

{% block modals %}
    {% if current_user.is_authenticated %}
    <div class="modal fade" id="answerDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Answer</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(new_answer_form, button_map={'submit_answer': 'primary'}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block page_content %}
    {% if not current_user.is_admin() %}
    <div id="sidebar" class="d-none d-lg-block">
        <div id="sidebar-title">
            {{ page.lesson.chapter.module.title }} &gt; <a href="{{ url_for('main.chapter', id=page.lesson.chapter.id) }}">{{ page.lesson.chapter.title }}</a>

            <div id="sidebar-lesson-title">
                <h4>{{ page.lesson.title }}</h4>
            </div>
        </div>
        <div id="sidebar-content">
            <div id="sidebar-pages">
                {{ display_page(page.lesson.pages.filter_by(prev_page=None).first()) }}
            </div>
            {% set next_lesson = page.lesson.next_lesson %}
            {% if next_lesson %}
                {% if next_lesson.type.code != 'L' %}
                    {# If the next lesson is not learning (either a quiz or unit test) #}
                    {# Check if the lesson after is of type Learn #}
                    {% if next_lesson.next_lesson and next_lesson.next_lesson.type.code == 'L' %}
                        {# It is so set the next lesson to it (essentially it has skipped the Quiz) #}
                        {% set next_lesson = next_lesson.next_lesson %}
                    {% else %}
                        {# If the next doesn't exist or is another Quiz (two quizzes in a row) then just disable the button #}
                        {% set next_lesson = none %}
                    {% endif %}
                {% endif %}

                {# Now recheck if there is a next lesson #}
                {% if next_lesson %}
                    {% set first_page = next_lesson.pages.filter_by(prev_page=None).first() %}
                    <div id="sidebar-next-lesson">
                        Next Lesson:
                        {% if first_page.is_unlocked() %}
                        <a href="{{ url_for('main.lesson_page', id=first_page.id) }}">{{ next_lesson.title }}</a>
                        {% else %}
                        <i class="fa fa-lock" aria-hidden="true"></i> Locked
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col offset-lg-4 offset-xl-3 h-100">
            <div class="page-header">
                <h1>{{ page.title }}</h1>
            </div>
            <div id="page-html">
                {{ page_html|safe }}
            </div>
            <div class="nav-links">
                {% if page.prev_page %}
                {% if page.prev_page.is_unlocked() %}
                <a href="{{ url_for('main.lesson_page', id=page.prev_page.id) }}" class="btn btn-outline-primary"><span aria-hidden="true">&larr;</span> {{ page.prev_page.title }}</a>
                {% else %}
                <button type="button" class="btn btn-dark disabled" disabled><i class="fa fa-lock" aria-hidden="true"></i> Locked</button>
                {% endif %}
                {% endif %}
                {% if page.next_page %}
                {% if page.next_page.is_unlocked() %}
                <a href="{{ url_for('main.lesson_page', id=page.next_page.id) }}" class="btn btn-outline-primary float-right">{{ page.next_page.title }} <span aria-hidden="true">&rarr;</span></a>
                {% else %}
                <button type="button" class="btn btn-dark float-right disabled" disabled><i class="fa fa-lock" aria-hidden="true"></i> Locked</button>
                {% endif %}
                {% else %}
                <a href="{{ url_for('main.chapter', id=page.lesson.chapter.id) }}" class="btn btn-outline-primary float-right">Back to all Lessons <span aria-hidden="true">&rarr;</span></a>
                {% endif %}
            </div>
            {% if current_user.can(Permission.ASK_QUESTIONS) %}
            <hr />
            <h2>Add a Question</h2>
            {{ wtf.quick_form(new_question_form, button_map={'submit_question': 'success'}) }}
            {% endif %}
            <hr />
            {% if page.questions.all() %}
            <ul class="media-list pl-0" id="questions">
                {% for question in page.questions.all() %}
                <li class="media question">
                    <img class="mr-3" src="{{ question.author.getAvatar(50) }}">
                    <div class="media-body">
                        <h2 class="media-heading">By {{ question.author.username }}</h2>
                        <span class="far fa-clock"></span> {{ moment(question.last_updated).format('DD/MM/YYYY hh:mm:ss A') }}
                        {{ question.html|safe }}
                        {% if current_user.is_authenticated and (question.author.username == current_user.username) %}
                        <a href="{{ url_for('main.edit_page_question', id=question.id) }}"><span class="badge badge-primary">Edit</span></a>
                        {% endif %}
                        {% if question.answers.all()|length > 0 %}
                        <ul class="media-list pl-0">
                        {% for answer in question.answers %}
                            <li class="media answer">
                                <img class="media-object mr-3" src="{{ answer.author.getAvatar(50) }}">
                                <div class="media-body">
                                    <h2 class="media-heading">By {{ answer.author.username }}</h4>
                                    <span class="far fa-clock"></span> {{ moment(answer.last_updated).format('DD/MM/YYYY hh:mm:ss A') }}
                                    {{ answer.html|safe }}
                                    {% if current_user.is_authenticated and (answer.author.username == current_user.username) %}
                                    <a href="{{ url_for('main.edit_page_answer', id=answer.id) }}"><span class="badge badge-primary">Edit</span></a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <hr>
                        <p>This question hasn't been answered. Maybe you could answer it!</p>
                        {% endif %}
                        {% if current_user.can(Permission.ANSWER_QUESTIONS) %}
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#answerDialog" data-question-id="{{ question.id }}">Add answer</button>
                        {% else %}
                        {% set next = url_for('main.lesson_page', id=page.id) + '#questions' %}
                        <p>Please <a href="{{ url_for('auth.login', next=next) }}">log in</a> to answer this question.</p>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No questions have been asked yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> -->
    {% if current_user.can(Permission.ASK_QUESTIONS) %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script type="text/javascript">
        var message = 'For syntax highlighting indent all your code by 4 spaces.';
        new SimpleMDE({element: $('#text')[0], forceSync: true, hideIcons:["guide"], placeholder: message});
        new SimpleMDE({element: $('#answer')[0], forceSync: true, hideIcons:["guide", "side-by-side", "fullscreen"], placeholder: message});
        $('#answerDialog').on('show.bs.modal', function(event) {
            var $button = $(event.relatedTarget);
            var questionID = $button.data('question-id');
            $('#question_id').attr('value', questionID);
        });
    </script>
    {% endif %}
    <script type="text/javascript">
        $('#page-html script').detach().appendTo($('body'));
        $(function() {
            //$('footer').addClass('offset-lg-4 offset-xl-3');
            $('img').not('.media-object').addClass('img-fluid');
            $('.quiz').on('load', function() {
                $('.quiz').outerHeight(Number($('.quiz').contents().find('body').css({backgroundColor:'#f7f7f7'}).outerHeight() + 10));
            });
        });
    </script>
    {{ moment.include_moment() }}
{% endblock %}