{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}

{% macro display_strand(strand, color=0) -%}
    {%- if strand %}
    <h4 class="strand-titles-{{ color }}">{{ strand.title }}</h4>
    <div class="modules">
        <div class="row">
            {{ display_module(strand.modules.filter_by(prev_module=None).first()) }}
        </div>
    </div>
    {%- endif -%}
    {% if strand.next_strand -%}
        {% if color == 4 %}
            {{ display_strand(strand.next_strand, 0) }}
        {% else %}
            {{ display_strand(strand.next_strand, color+1) }}
        {% endif %}
    {%- endif %}
{%- endmacro %}

{% macro display_module(module) -%}
            {%- if module %}
            <a href="{{ url_for('main.module', id=module.id) }}">
                <div class="col-xs-4 col-sm-3 col-md-2 module" data-toggle="popover" data-trigger="hover" data-placement="top" title="Learning Outcome" data-content="{{ module.description }}" data-html="true">
                    <p>
                        {% if module.icon %}
                        <img src="{{ module.icon }}" alt="module icon">
                        {% endif %}
                        <span>{{ module.title }}</span>
                    </p>
                </div>
            </a>
            {%- endif -%}
            {% if module.next_module -%}
                {{ display_module(module.next_module) }}
            {%- endif %}
{%- endmacro %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        .strand-titles-0 {
            color: #eecd12 !important;
        }

        .strand-titles-1 {
            color: #bd1e1e !important;
        }

        .strand-titles-2 {
            color: #1e9738 !important;
        }

        .strand-titles-3 {
            color: #691e86 !important;
        }

        .strand-titles-4 {
            color: #12a77a !important;
        }

        .module {
            background-color: #0dacd4;
            margin-left: 15px;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 10px;
            color: #ffffff;
            box-shadow: 0 0 20px #707070;
            border-radius: 7px;
        }

        .module p {
            text-align: center;
            font-size: 1.15em;
        }

        .popover {
            color: #000000;
        }

        .popover-title {
            text-align: center;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Topics</h1>
    </div>
    {% for topic in Topic.query.all() %}
    <h3>{{ topic.name }}</h3>
    <hr />
    {% if topic.all_ordered_children()|length > 0 %}
    {{ display_strand(topic.all_ordered_children()[0]) }}
    {% else %}
    <p>No strands</p>
    {% endif %}
    <hr />
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function sizeModules() {
            var longHeight = 0;
            $('.module').each(function() {
                if ($(this).height() > longHeight) {
                    longHeight = $(this).height();
                }
            });
            $('.module').each(function() {
                $(this).height(longHeight);
            });

            $('.module p').each(function() {
                var top = $(this).parent().height() / 2 - $(this).height() / 2;
                $(this).css({
                    marginTop: top
                });
            });
        }
        $(window).on('resize', sizeModules);
        sizeModules();
        $('[data-toggle="popover"]').popover();
    </script>
{% endblock %}