{% if current_user.is_admin() %}{% extends "base_admin.html" %}{% else %}{% extends "base.html" %}{% endif %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        li.L0, li.L1, li.L2, li.L3,
        li.L5, li.L6, li.L7, li.L8 {
            list-style-type: decimal !important;
        }

        #project-title, .step-title {
            text-shadow: #808080 0.1em 0.1em 0.2em;
        }

        #steps {
            background-color: #ffffff;
            padding: 20px 50px 30px;
            box-shadow: 0 1px 3px rgb(0, 0, 0, 0.25);
            margin-bottom: 20px;
        }

        .sidebar-link {
            color: #999999;
        }
        
        .sidebar-link:hover {
            color: #000000;
        }

        .sidebar-link-div {
            position: relative;
            padding: 7px 45px;
            border-radius: 5px;
        }

        .sidebar-link-div.active, .sidebar-link-div.active p .dot {
            background-color: #ffffff;
        }

        .sidebar-link-div p {
            margin: 0;
        }

        .sidebar-link-div p a::before {
            position: absolute;
            background-color: #999999;
            left: 20px;
            top: 15px;
            width: 3px;
            height: 100%;
            content: " ";
            z-index: 999;
        }

        .sidebar-link-div p a::after {
            position: absolute;
            content: " ";
            top: 12px;
            left: 13px;
            background-color: #f7f7f7;
            border: 3px solid #999999;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            margin-right: 5px;
            z-index: 1000;
        }

        .sidebar-link-div.active p a {
            font-weight: bold;
            color: #0058ca !important;
        }

        .sidebar-link-div.active p a::after {
            border-color: #0058ca;
        }

        .sidebar-link-div p.done a {
            color: #0058ca;
        }

        .sidebar-link-div p.done a::before {
            background-color: #0058ca;
        }
        
        .sidebar-link-div p.done a::after {
            border-color: #0058ca;
            background-color: #0058ca;
        }

        #first-sidebar-link a::before {
            top: 50%;
        }

        #last-sidebar-link a::before {
            height: 10px;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1 id="project-title" class="text-center text-warning">{{ project.title }}</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3" id="step-links">
            {% for step in project.steps %}
            <div class="sidebar-link-div">
                <p{% if loop.first %} id="first-sidebar-link"{% elif loop.last %} id="last-sidebar-link"{% endif %} data-counter-id="{{ loop.index0 }}">
                    <a href="#" class="sidebar-link" data-step-id="{{ step.id }}">{{ step.title }}</a>
                </p>
            </div>
            {% endfor %}
        </div>
    
        <div class="col-lg-8">
            <div id="steps">
                {% for step in project.steps %}
                <div class="step step-{{ step.id }}" style="display: none;" {% if step.next_step %}data-next-id="{{ step.next_step.id }}"{% endif %} data-counter-id="{{ loop.index0 }}">
                    <h2 class="step-title text-info">{{ step.title }}</h2>
                    {{ step.content_html|safe }}
                    <button class="next-step btn btn-success">{{ "Complete project" if not step.next_step else step.next_step.title }} <span class="fas fa-chevron-right"></span></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script type="text/javascript">
        function display(index, $button=null) {
            $('.sidebar-link-div.active').removeClass('active');
            $('.sidebar-link-div p').removeClass('done');
            $('.sidebar-link-div').eq(index).addClass('active');
            $('.sidebar-link-div p:lt(' + index + ')').addClass('done');
            $('.step:visible').fadeOut(function() {
                if (index === 0) {
                    $('.step').first().fadeIn();
                } else {
                    $('.step-'+ $button.parent().attr('data-next-id')).fadeIn();
                }
            });
        }

        $('.step img').addClass('img-fluid');
        $('.step pre').addClass('prettyprint linenums');
        $('.step').first().show();
        $('.sidebar-link').first().parent().parent().addClass('active');
        $('.next-step').on('click', function() {
            var $button = $(this);
            var index = Number($button.parent().attr('data-counter-id')) + 1;
            if (index === Number($('.step:visible').attr('data-counter-id'))) {
                return;
            }
            if ($button.html() === $('.next-step').last().html()) {
                $button.parent().fadeOut(function() {
                    var html = `
<div style="display: none;" id="complete">
    <h1>Well done!</h1>
    <p>You have completed the project!</p>
    <a href="{{ url_for('main.chapter', id=project.lesson.chapter.id) }}">Back to lessons</a>
</div>`;
                    $('#step-links').hide();
                    $('#steps').append(html);
                    $('#steps').parent().removeClass('col-lg-8').addClass('col-12');
                    $('#complete').fadeIn();
                });
                
            } else {
                display(index, $button);
            }
        });
        $('.sidebar-link').on('click', function(e) {
            e.preventDefault();
            var $link = $(this);
            var linkNum = $link.parent().attr('data-counter-id');
            if  (Number(linkNum) === 0) {
                if (Number($('.step:visible').attr('data-counter-id')) === 0) {
                    return;
                }
                display(0);
            } else {
                $('.next-step').eq(Number(linkNum) - 1).click();
            }
        });
    </script>
{% endblock %}