{% extends "base.html" %}

{% block navbar %}

{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        html {
            overflow: hidden;
        }
        body {
            padding-top: 0 !important;
            padding-bottom: 10px;
            background-color: #ffffff;
        }

        div.question {
            margin-bottom: 10px;
        }

        h3 {
            margin-top: 5px;
        }

        .fa-check {
            color: #008000;
        }

        .fa-times {
            color: #ff0000;
        }

        .history-badge {
            border-radius: 50px;
            vertical-align: middle;
            padding: 6px 7px;
            margin-right: 3px;
            display: inline-block;
            font-size: 0.7em;
            margin-bottom: 5px;
        }

        .badge-correct {
            background-color: #5ad65a;
            border: none;
        }

        .badge-incorrect {
            background-color: #d43e3e;
            border: none;
        }

        .badge-used-hint {
            background-color: #db8719;
            border: none;
        }

        .no-ans {
            border: 2px solid #a7a7a7;
            padding: 12px;
        }

        .history-badge .fas, .history-badge .far {
            color: #ffffff !important;
        }

        #history {
            width: 100%;
            text-align: right;
            /* margin-bottom: 25px; */
            display: inline-block;
            padding: 10px;
        }

        .answer-status {
            float: left;
            font-size: 24px;
            vertical-align: middle;
        }

        #summary {
            display: none;
        }

        .page-header {
            margin: 0 0 10px;
        }

        #start {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dot {
            position: relative;
            display: inline-block;
            border-radius: 60px;
            border: 1px solid #646464;
            padding: 0.4rem 0.5rem 0.3rem;
            z-index: 1000;
        }

        .draggable-btn, .undraggable-btn {
            min-width: 100px;
            min-height: 46px;
            border: 1px solid #000000;
            border-radius: 5px;
        }

        .draggable-btn:hover {
            cursor: grab;
        }

        .draggable-btn:active {
            cursor: grabbing;
        }

        .blank {
            vertical-align: middle !important;
        }

        #attempt-status {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% macro add_drag_n_drop_text(question, draggable_buttons=True) %}
                <div class="draggable-items-box card bg-info mb-3 p-3 flex-row align-items-stretch" style="min-height: 80px;">
                    {% for item in question.options[:-1] %}
                    <span class="{% if not draggable_buttons %}un{% endif %}draggable-btn bg-white mr-3 d-flex" data-position="{{ loop.index }}">
                        <span class="m-auto text-dark">{{ item.text | safe }}</span>
                    </span>
                    {% endfor %}
                </div>
                <h5>Drag the above tiles to the correct box on the right.</h5>
                {% if draggable_buttons %}
                <p class="text-danger">WARNING: When you drag all {{ question.options[:-1] | length }} tiles to a box, they're positions cannot be changed.</p>
                {% endif %}
{% endmacro %}
{% macro add_question_input(question, enable_input=True) %}
                {% if question.question_type.code == 'C' %}
                <p class="mb-0">Choose <em>one</em> of the options:</p>
                {% for option in question.options %}
                <div class="custom-control custom-radio">
                    <input type="radio" id="options-{{ loop.index }}-{{ question.id }}" name="options-{{ question.id }}" class="custom-control-input"{% if not enable_input %} disabled{% endif %} />
                    <label class="custom-control-label" for="options-{{ loop.index }}-{{ question.id }}">
                        {{ option.text }}
                    </label>
                </div>
                {% endfor %}
                {% elif question.question_type.code == 'M' %}
                <p class="mb-0">Choose <em>all</em> the options that apply:</p>
                {% for option in question.options %}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="options-{{ loop.index }}-{{ question.id }}" name="options-{{ question.id }}" class="custom-control-input"{% if not enable_input %} disabled{% endif %} />
                    <label class="custom-control-label" for="options-{{ loop.index }}-{{ question.id }}">
                        {{ option.text }}
                    </label>
                </div>
                {% endfor %}
                {% elif question.question_type.code == 'S' %}
                <input autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" type="text" id="answer" value=""{% if not enable_input %} disabled{% endif %} />
                {% endif %}
{% endmacro %}

{% block content %}
    <div class="container-fluid">
        <div id="start" class="text-center">
            <h3 id="no-problems">Do {{ questions|length }} problem{% if questions|length != 1 %}s{% endif %}!</h3>
            <p id="description">{{ quiz.description }}</p>
            <button type="button" id="start-btn" class="btn btn-primary">Start Quiz</button>
        </div>

        <div class="page-header">
            <p id="attempt-status" class="text-right">Attempt #<span id="attempt-no"></span> out of <span id="max-attempts"></span></p>
        </div>
            
        <div class="progress active">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="history">
            <h3 class="answer-status"></h3>
            {% for question in questions %}
            <div class="no-ans history-badge"></div>
            {% endfor %}
        </div>
        <div class="questions" style="display: none;">
            {% for question in questions %}
            <div class="question" id="{{ question.id }}" data-max-attempts="{{ question.max_attempts }}" data-at-hint="0">
                {% if question.question_type.code == 'D' %}
                {{ add_drag_n_drop_text(question) }} 
                {% endif %}
                <div class="mb-3">{{ question.show() | safe }}</div>
                {{ add_question_input(question) }}
                <div class="hints-box text-primary" style="display: none;"><hr /></div>
                <hr />
                <div class="question-help" style="display: none;">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Related Videos</h4>
                            <div class="help-videos">
                                {% with videos = Page.query.filter_by(lesson_id=question.quiz.lesson_id, page_type_id=PageType.query.filter_by(description="Video").first().id).all() %}
                                <ul class="list-unstyled">
                                    {% for video in videos %}
                                    <li class="mb-2">
                                        <a href="{{ url_for('main.lesson_page', id=video.id) }}" target="_blank">
                                            <span class="dot">
                                                <i class="fas fa-play fa-fw"></i>
                                            </span> {{ video.title }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h4>Still stuck?</h4>
                            <button role="button" class="btn btn-block btn-success mb-2 get-hint-btn">Get a hint</button>
                            <p>If you use a hint, you will be deducted marks for each hint! Try to work out the problem first.</p>
                        </div>
                    </div>
                    <hr />
                </div>
                <!-- <div class="solution" style="display: none;"></div> -->
            </div>
            {% endfor %}
        </div>
        <!-- <button role="button" class="btn btn-primary" id="next-btn">Check</button> -->
        <button id="next-btn" style="display: none;">Check</button>
        <div class="row justify-content-between" id="question-buttons">
            <div class="col-sm-auto">
                <button role="button" class="btn btn-success" id="help-btn">Need help?</button>
            </div>
            <div class="col-sm-auto mt-2 mt-sm-0">
                <button href="#" class="btn btn-outline-secondary" id="report-mistake">Report a problem <i class="fas fa-flag"></i></button>
            </div>
        </div>
        <div class="card mt-2 d-none" id="mistake-form">
            <div class="card-body" id="mistake-form-card">
                <h5 class="card-title">Report a mistake in the question</h5>
                <div class="card-text">
                    <p>Remember to read through all the hints and to double check your answer. Thank you for your help!</p>
                    <div id="mistake-types" class="mb-2">
                        What's wrong?
                        {% for mistake_type in ProblemMistakeType.query.all() %}
                        <div class="custom-control custom-radio mistake-type" data-description="{{ mistake_type.description }}">
                            <input type="radio" class="custom-control-input" name="mistake-type" id="mistake-type-{{ mistake_type.id }}" data-id="{{ mistake_type.id }}">
                            <label class="custom-control-label" for="mistake-type-{{ mistake_type.id }}">{{ mistake_type.mistake_type }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="mistake-description">Description of issue</label>
                        <textarea class="form-control" id="mistake-description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit-mistake">Submit issue</button>
                    <button type="button" class="btn btn-link" id="cancel-mistake">Cancel</button>
                </div>
            </div>
            <div class="card-body d-none" id="mistake-form-feedback">
                <h5 class="card-title">Thank you!</h5>
                <div class="card-text">
                    <p>Your feedback has been submitted and is greatly appreciated.</p>
                    <a id="close-feedback" href="#">Close</a>
                </div>
            </div>
        </div>
        <div id="summary">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Question</th>
                            <th>Attempts</th>
                            <th>Your last attempt</th>
                            <th>Answer</th>
                            <th>Score</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="summary-content">
                        {% for question in questions %}
                        <tr id="question-{{ question.id }}">
                            <!-- <td class="question-text" data-toggle="popover" data-title="Question {{ loop.index }}" data-placement="auto" data-html="true" data-trigger="hover click" data-container="body"></td> -->
                            <td class="question-text">
                                <a href="#question-{{ question.id }}-{{ loop.index }}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="question-{{ question.id }}-{{ loop.index }}">
                                    Q{{ loop.index }}
                                </a>
                                
                            </td>
                            <td class="no-attempts"></td>
                            <td class="last-attempt"></td>
                            <td class="correct-ans"></td>
                            <td class="score"></td>
                            <td class="ans-status"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% for question in questions %}
            <div class="collapse" id="question-{{ question.id }}-{{ loop.index }}" data-parent="#summary">
                <div class="actual-question-html card">
                    <div class="card-body">
                        <h5 class="card-title">Question {{ loop.index }}</h5>
                        <p class="card-text">
                            {% if question.question_type.code == 'D' %}
                            {{ add_drag_n_drop_text(question, draggable_buttons=False) }} 
                            {% endif %}

                            <div class="mb-3">{{ question.html | safe }}</div>

                            {{ add_question_input(question, enable_input=False) }}
                            <hr />
                            <h5>Explanation</h5>
                            <div id="explanation-{{ question.id }}">
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Include jQuery UI for drag and drop questions -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        // $radioBtns = $('input[type="radio"]');
        // checkForRadio();
        // $radioBtns.on('change', checkForRadio);

        $(function() {

            $('input[type="radio"]').attr('checked', false);
            $('input[type="text"]').val("");
            $('.question img').addClass('img-fluid');
            /*$('.question-text').popover({
                container: 'body'
            });*/
            var $currentQuestion = $('.question').first();
            
            var tick = $('<span class="fas fa-check fa-fw">');
            var x = $('<span class="fas fa-times fa-fw">');
            var hint_icon = $('<i class="far fa-lightbulb fa-fw">');
            var used_hint = false;

            $('.container-fluid').children().hide();
            $('#start').show();
            $('#start-btn').on('click', function() {
                $('.container-fluid').children().fadeIn();
                $('#start, #summary, .question').hide();
                $currentQuestion.fadeIn(function() {
                    updateModalHeight();
                });
                $("#max-attempts").text($currentQuestion.data('max-attempts'));
                updateAttemptNo(true);
                $('#next-btn').hide().on('click', checkQuestion);
                parent.$(parent.document).trigger('update_check_btn', ["enable-btn"])
            });

            $('#help-btn').on('click', function() {
                $(this).hide();
                $currentQuestion.children(".question-help").first().show(function() {
                    updateModalHeight();
                });
            });

            $('#summary .collapse').on('shown.bs.collapse hidden.bs.collapse', function() {
                updateModalHeight();
            });

            $('.get-hint-btn').on('click', function() {
                var $this = $(this); // For further down
                var $hints_box = $currentQuestion.children('.hints-box').first();
                $hints_box.show(function() {
                    data = {"hint_no": Number($currentQuestion.attr('data-at-hint')) + 1, "question_id": $currentQuestion.attr('id')}
                    $.ajax({
                        url: "{{ url_for('main.get_hint') }}",
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        beforeSend: function() {
                            $hints_box.append('<i class="fas fa-sync-alt fa-2x fa-spin"></i>');
                        },
                        success: function(response) {
                            $('.fa-sync-alt').before(response.hint_html);
                            if (/(\<img)+/.test(response.hint_html)) {
                                updateModalHeight();
                                $("body img").on("load", function () {
                                    $hints_box.children('i.fa-sync-alt').remove();
                                    updateModalHeight();
                                });
                            } else {
                                $hints_box.children('i.fa-sync-alt').remove();
                                updateModalHeight();
                            }
                            
                            $currentQuestion.attr('data-at-hint', Number($currentQuestion.attr('data-at-hint')) + 1)
                            if ($currentQuestion.attr('data-at-hint') === "1") {
                                /*data = {"hint_used_mark_incorrect": true};
                                $.ajax({
                                    url: "{{ url_for('main.check') }}",
                                    data: JSON.stringify(data),
                                    dataType: 'json',
                                    contentType: "application/json; charset=utf-8",
                                    type: 'POST',
                                    success: function(response) {*/
                                var $historyIcon = $('.no-ans').first();
                                $historyIcon.addClass('badge-used-hint');
                                $historyIcon.removeClass('no-ans');
                                $historyIcon.append(hint_icon.clone());
                                $this.text('Get another hint'); // Here $this is used
                                used_hint = true;
                                /*    }
                                });*/
                            }
                            if (response.is_last_hint) {
                                $('.get-hint-btn:visible').parent().hide();
                            }
                        },
                        error: function(error) {
                            $hints_box.append("<p>An error has occurred while retriving the hint.</p>");
                            updateModalHeight();
                        }
                    });
                });
            });

            // Drag and drop
            $('.draggable-btn').draggable({
                revert: true,
                snapTolerance: 30,
                revertDuration: 100,
                cursor: "move"
            });

            $('.blank').each(function(index) {
                $(this).droppable({
                    accept: '.draggable-btn',
                    drop: function(event, ui) {
                        if ($(this).children('.draggable-btn').length === 0) {
                            $(this).append(ui.draggable);
                            updateModalHeight();
                        }
                    }
                });
            });

            $('.blank').css('max-width', Number($('.draggable-btn').first().width()) + 50);

            // Report mistake in problem
            $('#report-mistake').on('click', function() {
                $(this).hide();
                $('#mistake-form').removeClass('d-none');
                setTimeout(function() {
                    updateModalHeight();
                }, 50);
            });

            $('#cancel-mistake').on('click', function() {
                $('#report-mistake').show();
                $('#mistake-form').addClass('d-none');
                setTimeout(function() {
                    updateModalHeight();
                }, 50);
            });

            $('#close-feedback').on('click', function() {
                $('#mistake-form').addClass('d-none');
                setTimeout(function() {updateModalHeight();}, 50);
            });

            $('.mistake-type').on('click', function() {
                $('#mistake-description').attr('placeholder', $(this).data('description'));
            });

            $('#submit-mistake').on('click', function(e) {
                e.preventDefault();
                var mistake_type_id = $('[name="mistake-type"]:checked');
                var mistake_description = $('#mistake-description').val();
                if (mistake_type_id.length > 0 && mistake_description) {
                    mistake_type_id = Number(mistake_type_id.first().data('id'));
                    data = {mistake_type_id: mistake_type_id, mistake_description: mistake_description, problem_id: Number($currentQuestion.attr('id'))}
                    $.ajax({
                        url: "{{ url_for('main.submit_mistake') }}",
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        success: function(response) {
                            $('#mistake-form-card').addClass('d-none');
                            $('#mistake-form-feedback').removeClass('d-none');
                            setTimeout(function() {updateModalHeight();}, 50); // To give time for the methods to finish
                        }, error: function(error) {
                            $('#submit-mistake').before($('<p>').text('Sorry an unexpected error has occurred.'));
                            console.error(error);
                            updateModalHeight();
                        }
                    });
                }
            });

            function updateModalHeight() {
                parent.$(parent.document).trigger('quiz_height_update');
            }

            function updateAttemptNo(reset=false) {
                if (reset) {
                    attemptNo = 1;
                } else {
                    attemptNo++;
                }
                $("#attempt-no").text(attemptNo);
            }

            function nextQuestion() {
                // Move on to next question
                $currentQuestion.hide();
                $currentQuestion = $currentQuestion.next();
                $currentQuestion.fadeIn();
                used_hint = false;
                $('#help-btn').show();
                updateAttemptNo(true);
                $("#max-attempts").text($currentQuestion.data('max-attempts'));
                updateModalHeight();
                parent.$(parent.document).trigger('update_check_btn', ["destroy-popover"]);
                $('.answer-status').fadeOut(1000);
                $('#report-mistake').show();
                $('#mistake-form').addClass('d-none');
                $('#mistake-form-card').removeClass('d-none');
                $('#mistake-form-feedback').addClass('d-none');
                $('[name="mistake-type"]').prop('checked', false);
                $('#mistake-description').val('').attr('placeholder', '');
                updateModalHeight();
            }

            function checkQuestion() {
                $('#next-btn').attr('disabled', 'disabled');
                parent.$(parent.document).trigger('update_check_btn', ["disable-btn"])
                var $checkedOptions = $currentQuestion.children('.custom-control').children('input').filter(':checked');
                var draggedItems = $currentQuestion.children('.draggable-items-box');
                if (draggedItems.length !== 0) {
                    draggedItems = draggedItems.children('.draggable-btn').length;
                } else {
                    draggedItems = undefined;
                }
                var singleAnswer = $currentQuestion.children('#answer');
                singleAnswer = singleAnswer.length !== 0 ? singleAnswer.val().trim() : false
                if ($checkedOptions.length > 0 || draggedItems === 0 || singleAnswer) {
                    // Check question
                    if ($checkedOptions.length === 1 && $checkedOptions.attr('type') === 'radio') {
                        var data = {"answer": $checkedOptions.next().text(), "question_id": $currentQuestion.attr('id')};
                    } else if (draggedItems === 0) {
                        var answerDragDrop = "";
                        for (var i = 0; i < $('.draggable-btn:visible').length; i++) {
                            answerDragDrop += (i + 1) + "=" + $('.blank:visible').eq(i).children('.draggable-btn').data('position') + " ";
                        }
                        answerDragDrop = answerDragDrop.trim();
                        var data = {"answer": answerDragDrop, "question_id": $currentQuestion.attr('id')}
                    } else if ($checkedOptions.length >= 1 && $checkedOptions.attr('type') === 'checkbox') {
                        var answers = [];
                        $checkedOptions.each(function() {
                            answers.push($(this).next().text().trim());
                        });
                        var data = {"answer": answers, "question_id": $currentQuestion.attr('id')};
                    } else {
                        var data = {"answer": singleAnswer, "question_id": $currentQuestion.attr('id')};
                    }

                    data.used_hint = used_hint;
                    $.ajax({
                        url: "{{ url_for('main.check') }}",
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        success: function(response) {
                            $('#next-btn').removeAttr('disabled');
                            parent.$(parent.document).trigger('update_check_btn', ["enable-btn"])
                            updateModalHeight();
                            var isLastQuestion = $('.question').eq(-1).is($currentQuestion);
                            var try_again = response.try_again
                            if (!try_again) {
                                $progressBar = $('.progress-bar');
                                $progressWidth = parseInt($progressBar.css('width'), 10) / parseInt($progressBar.parent().width(), 10) * 100;
                                newWidth = $progressWidth + Math.pow($('.question').length, -1) * 100
                                newWidth = newWidth.toFixed(0)
                                if (isLastQuestion) {
                                    newWidth = 100
                                }
                                $progressBar.css('width', newWidth + '%');
                                $progressBar.attr('aria-valuenow', newWidth);
                                $progressBar.text(newWidth + '%');
                            }
                            if (response.answer_status) {
                                //$('.answer-status').html("<span style=\"color:#5ad65a\">Correct!</span>").hide().fadeIn(1000);
                                parent.$(parent.document).trigger('update_check_btn', ["popover-<h5>That was the right answer! Well done!</h5>"]);
                                if (!used_hint) {
                                    var $historyIcon = $('.no-ans').first();
                                    $historyIcon.addClass('badge-correct');
                                    $historyIcon.removeClass('no-ans');
                                    $historyIcon.append(tick.clone());
                                }
                                updateAttemptNo(true);
                            } else if (try_again) {
                                updateAttemptNo();
                                if (attemptNo === $currentQuestion.data('max-attempts')) {
                                    //$('.answer-status').html("<span style=\"color:#d43e3e\">Last chance! Try Again.</span>").hide().fadeIn(1000).delay(1000).fadeOut(1000);
                                    parent.$(parent.document).trigger('update_check_btn', ["popover-<h5>Last chance! Try Again.</h5>"]);
                                } else {
                                    //$('.answer-status').html("<span style=\"color:#d43e3e\">Incorrect! Try Again.</span>").hide().fadeIn(1000).delay(1000).fadeOut(1000);
                                    parent.$(parent.document).trigger('update_check_btn', ["popover-<h5>Incorrect! Try Again.</h5>"]);
                                }
                            } else {
                                //$('.answer-status').html("<span style=\"color:#d43e3e\">Hard Luck!</span>").hide().fadeIn(1000);
                                parent.$(parent.document).trigger('update_check_btn', ["popover-<h5>Hard Luck! There is an explanation given for you.</h5>"]);
                                if (!used_hint) {
                                    var $historyIcon = $('.no-ans').first();
                                    $historyIcon.addClass('badge-incorrect');
                                    $historyIcon.removeClass('no-ans');
                                    $historyIcon.append(x.clone());
                                }
                                var $solutionDiv = $currentQuestion.children('.hints-box');
                                //$solutionDiv.append('<h4>Explanation</h4>');
                                $solutionDiv.html('<hr />' + response.solution_html);
                                $solutionDiv.show(function() {
                                    $('#help-btn').hide()
                                    $('.question-help').hide(updateModalHeight);
                                });
                                /*} else {
                                    $('#help-btn').hide()
                                    updateModalHeight();
                                }*/
                            }
                            if (!try_again) {
                                var $btn_text = isLastQuestion ? $('#next-btn').html('Summary of quiz &#8594;') : $('#next-btn').html('Continue &#8594;');
                                parent.$(parent.document).trigger('update_check_btn', [$btn_text.text()])
                                updateModalHeight();
                                $('#next-btn').off('click').on('click', function() {
                                    if (isLastQuestion) {
                                        // Summary of user's answers
                                        //$('#next-btn').fadeOut();
                                        parent.$(parent.document).trigger('update_check_btn', ["destroy-popover"])
                                        parent.$(parent.document).trigger('update_check_btn', ["end-quiz"])
                                        $('#help-btn').fadeOut();
                                        $currentQuestion.fadeOut();
                                        $('.page-header').fadeOut();
                                        $('.answer-status').fadeOut();
                                        $('#question-buttons, #mistake-form').fadeOut();
                                        var data = {'id': '{{ quiz.id }}'};
                                        $.ajax({
                                            url: "{{ url_for('main.summary') }}",
                                            data: JSON.stringify(data),
                                            contentType: 'application/json',
                                            type: 'POST',
                                            success: function(response) {
                                                var $summary = $('#summary');
                                                for (var i = 0; i < $('tbody tr').length; i++) {
                                                    var thisQuesID = response.question_ids[i]
                                                    var $row = $('tr#question-' + thisQuesID)
                                                    var $rowChildren = $row.children();
                                                    //$rowChildren.filter('.question-text').text('Question ' + (i+1)).attr('data-content', response.questions[i]);
                                                    //$rowChildren.filter('.question-text').children('.collapse').children('.actual-question-html').html(response.questions[i]);
                                                    $rowChildren.filter('.no-attempts').text(response.no_attempts[i]);
                                                    var last_attempt = response.last_attempts[i];
                                                    if (last_attempt instanceof Array) {
                                                        last_attempt = last_attempt.join(', ')
                                                    }
                                                    $rowChildren.filter('.last-attempt').text(last_attempt);
                                                    var correct_answer = response.correct_answers[i];
                                                    if (correct_answer instanceof Array) {
                                                        correct_answer = correct_answer.join(', ')
                                                    }
                                                    $rowChildren.filter('.correct-ans').text(correct_answer);
                                                    $rowChildren.filter('.score').text(response.scores[i]);
                                                    $('#explanation-' + thisQuesID).html(response.explanations[i]);
                                                    if (response.user_ans_status[i]) {
                                                        $rowChildren.filter('.ans-status').append(tick.clone());
                                                        $rowChildren.parent().addClass('table-success');
                                                    } else {
                                                        $rowChildren.filter('.ans-status').append(x.clone());
                                                        $rowChildren.parent().addClass('table-danger');
                                                    }
                                                }
                                                $summary.fadeIn(function () {
                                                    updateModalHeight();
                                                    parent.$(parent.document).trigger('update_check_btn', ["ID" + "{{ quiz.id }}"]);
                                                });
                                            },
                                            error: function(error) {
                                                $('.status').text("There has been an error.");
                                            }
                                        });
                                    } else {
                                        $('#next-btn').text('Check').off('click').on('click', checkQuestion);
                                        parent.$(parent.document).trigger('update_check_btn', ["Check"]);
                                        nextQuestion();
                                    }
                                });
                                
                            }
                        },
                        error: function(error) {
                            $('.answer-status').html("There has been an error in processing your answer.");
                        }
                    });
                        
                } else {
                    $('#next-btn').removeAttr('disabled');
                    parent.$(parent.document).trigger('update_check_btn', ["enable-btn"]);
                }
            }
        });
    </script>
{% endblock %}